[2014-09-04 03:14] sunoru opened #5 "../style/wrapper.inc.php not found"

[2014-09-04 05:56] #5 closed, assigned to nobody

[2015-10-14 16:27] AustinXII opened #34 "Importing Sets does not work"
Currently when you take the sets directly from teambuilder the moves will not appear. Edit: Marty has confirmed this is from the extra space Teambuilder adds to support reddit

[2015-10-14 20:10] Marty-D commented on #34
Those screenshots aren't actually a before and after; they're two different Excadrill sets. You should be looking for the "VTH.Excadrill" set after importing, not "FWG.Excadrill". Seems to work fine for me.

[2015-10-14 21:09] #34 closed

[2016-03-16 23:40] dtsong opened #55 "Beat Up is not on the calc?"
Hey there, just noticed that Beat Up isn't among the listed moves for a Pokemon to use. I wanted to do Beat Up calcs from a Whimsicott on a Focus Sash Gengar, but it seems that I can't do that because Beat Up isn't a listed move.

[2016-03-30 22:26] sobolews opened #57 "Rotom forms have lost their sets"
The various Rotom forms no longer have sets. For me, their sets used to show up until I cleared my cache for that page, so this is probably due to a recent change. The normal Rotom forme still has sets.

Screenshot: http://i.imgur.com/SLfGAal.png

[2016-03-30 22:38] sobolews commented on #57
This occurs for Landorus-T, Mr. Mime, etc. too, so it's probably just a parsing issue with `-.` characters.

[2016-03-31 16:17] Honko commented on #57
Oops, this was a problem with my latest import. Actually two problems:

1) The Smogon API doesn't like the raw names of Pokemon with punctuation (Mr. Mime, Farfetch'd) so I didn't import any sets for them
2) The forme name format for Pokemon like Rotom and Landorus is different from what I used in the pokedex so their sets are imported under the wrong name (Landorus-Therian instead of Landorus-T)

[2016-05-18 17:50] AustinXII commented on #55
Considering beat up's damage is based on the attack stats of your idle Pokemon I don't think this will be added

[2016-05-18 17:52] AustinXII commented on #57
This seems to be fixed and should probably be closed as an issue

[2016-05-18 19:09] #57 closed

[2016-06-16 14:54] Guernouille commented on #55
This would require you to type the other Pokémon. It's probably manageable to display 5 fields when the move is selected. Not sure it is worth it though. Might be useful to add it to the calc for niches like Gen 2 / Gen 3 Houndoom I guess.

[2016-06-17 02:26] Zarel commented on #55
Closing because the amount of data needed to be entered is kind of ridiculous. People can customize the stats and bp used in calculations, anyway, so if they actually want to do the calculation, it's still possible.

[2016-06-17 02:26] #55 closed

[2016-12-11 09:25] Kanbe-Kotori opened #86 "A lack of an ability"
Gogoat's hidden ability, called Grass Pelt

[2016-12-14 08:32] dtsong opened #88 "No Grassium-Z in the Item choices"
I see the other Z-move items for the calcs except at first glance, no Grassium-Z choice.

[2016-12-14 12:50] #88 closed

[2016-12-14 12:51] AustinXII commented on #88
Fixed https://github.com/Zarel/honko-damagecalc/commit/d6ec797ac33a756e1c16ac8275a4027de7554434

[2016-12-15 15:23] MagiaSN opened #90 "Function isGrounded is missing"
Function isGrounded is called in getTerrainEffects (defined in calc_ab.js), but I can't find its definition.
When I check Electric Terrain and Misty Terrain, a script error occurred and their effects are not applied. Grassy Terrain and Psychic Terrain work fine.
Please have a look at this.

[2016-12-15 15:57] AustinXII commented on #90
This bug dates back to when @augmt first added terrains, seems like he forgot about it.

[2016-12-15 17:24] AustinXII commented on #86
fixed #92

[2016-12-15 17:24] #86 closed

[2016-12-16 01:45] MagiaSN commented on #90
I have opened a pull request #93

[2016-12-16 02:00] #90 closed

[2017-01-13 08:48] MagiaSN opened #100 "Improve z-move input"
It seems power of z-moves can only be assigned manually now. I think it would be better if we just type the original move, then check a checkbox or something, and got the corresponding z-move used for calc.
Is anyone working on this? I can have a try if not :)

[2017-01-13 15:30] AustinXII commented on #100
@MagiaSN I'm working on this just haven't had any time on a computer recently, feel free to check my repo and either take over from where I am or make a PR with the remaining missing code

[2017-01-14 06:04] MagiaSN commented on #100
@AustinXII I have written the other part except move data #101 . When you complete updating move data, they can be merged together.

[2017-01-14 13:42] AustinXII commented on #100
@MagiaSN Alright seeing how you went ahead and did the other parts I'll really try to get in some time to finish this weekend, thanks again +1

[2017-01-20 16:28] AustinXII commented on #100
#101

[2017-01-20 16:28] #100 closed

[2017-02-04 03:50] Kanbe-Kotori opened #112 "bug about Psychic Terrain"
when tapu lele is attacked by skills like sucker punch, the damage should be 0.

[2017-02-04 11:01] turskain opened #113 "All vs One mass calculation doesn't work for most SM tiers"
When attempting to Honkalculate, errors pointing to invalid move data pop up in the JS console.

[2017-02-04 15:30] AustinXII commented on #113
Can you post the console log?

[2017-02-04 15:50] MagiaSN commented on #112
#114

[2017-02-04 15:53] #112 closed

[2017-02-04 15:56] MagiaSN commented on #113
It seems this is caused by Endeavor added by accident when we add z-power, I make a quick fix #115

[2017-02-05 19:17] #113 closed

[2017-02-10 17:30] AustinXII opened #121 "To Do list"
I figured putting a todo list on the GitHub repo itself might be beneficial as it's much easier for developers to see what still needs to be done.
``1: Fix Mega's/alolan Pokémon search`` currently the calculator doesn't support searching for the Pokémons Mega or Alola forms. If you wanted to search for mega metagross for example, you'd have to type "metagross-mega". Changing the ``getSetOptions``

[2017-02-18 02:21] AustinXII commented on #121
@MagiaSN feel free to tackle any of these if you're interested :)

[2017-02-18 06:37] MagiaSN commented on #121
@AustinXII I will, just have something else to do recently :)

[2017-03-03 23:49] daviddonnelly opened #126 "All vs One and One vs All Sort Incorrect"
https://pokemonshowdown.com/damagecalc/calc_bc.html?mode=all-vs-one
https://pokemonshowdown.com/damagecalc/calc_bc.html?mode=one-vs-all
Damage (%) and KO Chance column sort
When clicking the column headers to sort by damage, it looks like it's incorrectly sorting alphabetically rather than a number value sort.
e.g.
0
101.5
11
122
13.2
whereas it should be
0
11
13.2
101.5
122
I believe the last tim

[2017-03-06 14:54] MagiaSN commented on #126
#128

[2017-03-06 16:37] #126 closed

[2017-03-07 21:43] Storm-Eagle20 opened #129 "No Ground Memory in the Item List."
I can't accurately calculate damage from Silvally-Ground's Multi Attack. Can you fix this?

![image](https://cloud.githubusercontent.com/assets/26261465/23679211/23161944-0355-11e7-9c55-f8bee9b219d1.png)

The item list in question.

[2017-03-07 21:49] AustinXII commented on #129
Fixed

[2017-03-07 21:49] #129 closed

[2017-03-09 12:02] Gindranis opened #130 "Speed stat ups not taken into account when calculating first pokemon to move"
Setting Speed to +2 does not alter the generated outcome.
Tested with various pokemon that carry a move that would deal 100%+ damage, but get outsped before +2 speed, such as cloyster vs tapu koko, Haxorus vs Garchomp, Gengar vs Alakazam

[2017-03-17 03:27] MagiaSN commented on #130
I don't quite understand this issue, the speed stats do not affect the damage directly, so speed changes are not shown in the result message

If the power of the move depends on speed stats (e.g. Electro Ball), the changes is shown directly in move BP

If you mean "when setting Cloyster's speed to +2, then Icicle Spear should be automatically chosen instead of opposite Tapu Koko's Thunderbolt, bec

[2017-03-29 19:04] SadisticMystic opened #139 "Add option for not automatically assuming max EVs in RBY/GSC sections"
Obviously in a competitive battle under those two rulesets, it's possible to max out all the stats so for almost all practical purposes you might as well. However, there are some cases (the most prominent one on my mind is setting up in-game scenarios) where more flexibility in the gamut of player/opponent stats is helpful.

A lot of the time, it's possible to construct the equivalent setup in ADV

[2017-03-29 19:20] AustinXII commented on #139
I don't know if we should cater to the needs of ingame calculation as this calc is designed specifically for Pokémon Showdown. It has the flexibility to be used for other purposes with a little extra manual effort which is fine imo. There's also a concern on what the evs should be set to as they are automatically set from the ``setdex`` files. Regardless in the end many people will still have to m

[2017-03-29 19:26] AustinXII commented on #139
Oh I misunderstood, I suppose some
Players don't have to max out all their EVs or may have not done so by accident, this will be fixed soon(tm)

[2017-05-21 14:25] AustinXII commented on #139
(If anyone else wants to do this I can explain exactly what's needed to be done in order to fix this, I'm just busy with life atm)

[2017-06-25 15:59] Neurrone opened #149 "Improve accessibility for screen readers"
Similar to [the corresponding issue for the Showdown client](https://github.com/Zarel/Pokemon-Showdown-Client/issues/954). Unfortunately, this will be much harder than the client, as that only needed usability improvements.

* [ ] The generation radio buttons are not recognized as such, they just read as plain text. There is no indication which is selected, or that they are a logical group. Might

[2017-06-25 16:30] AustinXII commented on #149
This is a cool idea, I'll respond in more depth later when I have more time 👍

[2017-06-26 00:41] MagiaSN commented on #149
This lists all possible damage values, maybe we could add `speak: none` to it as it is seldom needed?

This seems a select2 issue, it renders the select2 widget with an `<a>` element, which is read as a link. As for the two `<input>` elements, one is what we used to initialize the select2 widget and store the value of the selected set; the other is generated by select2 to make the widget focusable

[2017-06-26 02:58] Neurrone commented on #149
@MagiaSN Removing this from the CSS fixes the issues with all checkboxes and radio buttons, but obviously changes the visual layout.

[code]

I can try finding out how to fix it without changing it visually.

Now that I know what the damage values are, it shouldnt be `aria-hidden`, as it is a visible part of the UI that contains information.

[2017-06-27 18:32] AustinXII commented on #130
Planned

[2017-06-30 04:24] Neurrone commented on #149
What is `calc_bc.html` for? Seems like a copy of index.html

[2017-06-30 04:43] MagiaSN commented on #149
@Neurrone This page is for one-vs-all and all-vs-one calculation

[2017-06-30 04:44] Neurrone commented on #149
@MagiaSN thanks. Will port the improvements over from `index.html` to the other page once I'm done.

[2017-07-03 00:38] AustinXII commented on #149
``calc_bc`` should probably be renamed for clariety any suggestions @MagiaSN ?

[2017-07-03 12:49] MagiaSN commented on #149
@AustinXII Would `honkalculate.html` be fine?

[2017-07-03 12:51] MagiaSN commented on #149
Perhaps `ap_calc.js` `calc_ab.js` should be renamed too

[2017-07-03 12:56] AustinXII commented on #149
@MagiaSN Yeah I like the first name and yeah all those should be renamed for clarity, suggestions?

[2017-07-03 13:06] MagiaSN commented on #149
@AustinXII I think we could rename `ap_calc.js` to `shared_controls.js`, `calc_ab.js` to `index_controls.js`, and `calc_bc.js` to `honkalculate_controls.js`

[2017-07-03 13:38] AustinXII commented on #149
I like it, opinions @Zarel maybe also @Honko if he wants to weigh in

[2017-07-03 15:15] Zarel commented on #149
sure

[2017-07-03 19:53] #149 closed

[2017-07-04 11:41] Neurrone commented on #149
Only thing left now is the third item.

[2017-07-13 15:44] jarrjam opened #155 "All vs One for VGC 17 broken"
When clicking the 'Honkalculate' button for All vs One VGC 17, no damage calculations are produced. I did a bit of investigating and it seems to be a problem with Vanilluxe using Sheer Cold which gives an undefined 'move.type' value. After I used Chrome's inbuilt debugger to create an IF statement that sets 'move.type' to Ice when Sheer Cold is used, the problem went away. I don't know why the pro

[2017-07-13 19:00] AustinXII commented on #155
I'll do the fix later

[2017-07-13 19:03] AustinXII commented on #155
(If you're curious, Sheer Cold had a ZP value but was never defined before Sun and Moon so it was missing all its basic info (move type, effects, etc))

[2017-07-16 01:30] MagiaSN commented on #155
@AustinXII It seems you were busy, so I made a quick fix #156

[2017-07-25 22:12] #155 closed

[2017-07-28 02:35] AustinXII commented on #121
1 and 3 done in #157

[2017-08-08 16:51] turskain opened #159 "Honkalculate doesn't work"
Pressing Honkalculate with any tier checked prints the following error in console:

Uncaught TypeError: pokeInfo.find is not a function
    at new Pokemon (shared_controls.js:408)
    at calculate (honkalculate_controls.js:76)
    at HTMLButtonElement.<anonymous> (honkalculate_controls.js:231)
    at HTMLButtonElement.dispatch (jquery-1.9.1.min.js:3)
    at HTMLButtonElement.v.handle (jquery-1.9.1

[2017-08-09 11:10] MagiaSN commented on #159
The code in this repository works well in my browser, but the page https://pokemonshowdown.com/damagecalc/honkalculate.html?mode=one-vs-all is broken. It seems the code of

[2017-08-09 18:48] Zarel commented on #159
This is probably why I wanted a cachebuster...

[2017-08-09 22:37] AustinXII commented on #159
@Zarel I'm pretty busy with work right now, feel free to add it yourself :p

[2017-08-09 22:44] Zarel commented on #159
hashtag not my damagecalc

[2017-08-09 22:53] AustinXII commented on #159
No but tbf it is PS's which is yours

[2017-08-09 23:00] Zarel commented on #159
The agreement was that I'd host it for Honko and he'd maintain it, and then he dropped off the face of the earth.

I really don't want to maintain it. :(

I guess I'll do the cachebuster, though.

[2017-08-10 00:58] AustinXII commented on #159
Thanks Zarel, you don't have to worry about maintaining it but helping out with adding features you want is always appreciated

[2017-08-10 02:42] Honko commented on #159
I've returned to the face of the earth; I just have no interest in continuing to maintain my crappy several-year-old code. I do enough of that at work...

For the record, I don't think I'll ever pick this back up (other than sending occasional setdex updates). I started this because I wanted to build a fast, convenient, all-gen calc and learn a little js for fun. I did that, and now I've moved on.

[2017-08-10 03:56] AustinXII commented on #159
I still think that is planned and yeah I agree that would be much better.

[2017-08-10 10:03] Zarel commented on #159
I still have long-term plans for adding better tooltip stuff.

I think there's still a use for a standalone calculator (if only for in-game stuff). I can add it to Ideas for New Developers.

[2017-08-10 19:43] WeAreGro0t opened #160 "Hyper Fang is missing"
I wanted to see how ridiculous Hyper Fang on Gumshoos with Strong Jaw and Adaptability would be, but the calculator doesn't have that move in the system.

[2017-08-11 11:37] MagiaSN commented on #160
#161 Added

[2017-08-12 04:55] #160 closed

[2017-08-26 05:26] AustinXII commented on #159
#166

[2017-08-26 05:26] #159 closed

[2017-09-01 12:50] bjoernboombastic opened #169 "problem looking up the Tapus"
Hey
Lately there appears a new little handling inconvenience when typing in the Tapus in the damage calculator.
The calculator seems to not perceive the space between 'Tapu' and Bulu/Lele/Koko/Fini ofcourse you can type Tapu in the search mask and look up the one you need manually but I remember a (maybe?) similar bug during ORAS when it appears to say 'Blank Set' for every Pokémon with a hyphen i

[2017-09-01 13:04] bjoernboombastic opened #170 "Suggestion: Add Costum set for base forms"
Hey
I want to suggest an addition too,
thinking it would be a nice feature if you could choose 'Costum Set' with Ash-Greninja in regular Greninja form or when you using a mega but you arent mega evolved yet.
I don't know a single thing about scripting therefore I want to apologize if this is a insanely complicated to implement idea.

Again, keeping up the great work!

[2017-09-01 14:29] AustinXII commented on #169
Hey @honko you're the only one who changed the search function recently, any ideas?

[2017-09-01 14:30] AustinXII commented on #170
You can always import the set then change the polemons forme with the forme change button. Doing this will make the new forme have its base formes sets

[2017-09-01 14:30] #170 closed

[2017-09-01 19:13] #169 closed

[2017-09-26 13:14] SadisticMystic opened #173 "Ring Target has no effect"
This one's easy; just set up a scenario where one of the attacker's moves is blocked by an immunity. Then change the defender's item to Ring Target. It should override the immunity and allow it to show some actual damage, but doesn't.

[2017-09-27 02:36] AustinXII commented on #173
You should be more specific, the defenders immunities that are from its typing are negated

[2017-09-27 02:37] SadisticMystic commented on #173
It's not just type-based immunities: Pikachu Thunderbolt vs. Ring Target Lightning Rod Seaking: 0-0 (0 - 0%) -- aim for the horn next time

[2017-09-27 02:39] AustinXII commented on #173
But yes will do

[2017-09-27 02:40] AustinXII commented on #173
Ring target doesn’t change that, The ps dex states “The holder's type immunities granted solely by its typing are negated” @Marty-D please confirm

[2017-09-27 02:46] SadisticMystic commented on #173
Just tested in game: tricked Ring Target onto a wild Haunter, used EQ, no damage and still got the Levitate popup.

[2017-09-27 23:06] Ntonio36 commented on #173
Soo should we close this issue then ?

[2017-09-27 23:11] AustinXII commented on #173
.. no there still is a issue with it not negating typing immunities

[2017-09-27 23:11] Ntonio36 commented on #121
Can I join in ? 6 looks easy so I probably will be able do deal with it.

[2017-09-27 23:18] AustinXII commented on #121
This is open to anyone :) feel free

[2017-09-27 23:20] AustinXII commented on #121
2 was done as well

[2017-09-27 23:20] Ntonio36 commented on #173
@AustinXII you still up for it ? I feel i can handle this one pretty easily

[2017-09-27 23:31] Ntonio36 commented on #173
Done. Now awaiting merging.

[2017-09-28 01:52] AustinXII commented on #173
Yeah it’s an easy one just haven’t had time to be on a computer, but yes feel free to tackle anything that isn’t done

[2017-09-28 21:04] #173 closed

[2017-10-01 16:27] Snowysauce opened #175 "Metal Claw is missing"
Currently battling a Registeel in Gen3, and I noticed that Metal Claw is missing from the move list.

[2017-10-01 16:42] #175 closed

[2017-10-05 23:38] AustinXII commented on #139
Hmm I did work on this and almost finished at one point (I should really start saving my work even if it’s abandoned) changing the HTML is pretty easy I believe changing ``shared_controls.js`` is that hard part. If you need a step in the right direction I’ll help

[2017-10-05 23:38] AustinXII commented on #139
@Ntonio36

[2017-10-06 11:50] Ntonio36 commented on #139
HTML is easy, I can relate, but I need to know what am I exactly supposed to do for `shared_controls.js`... or let's say, what does @SadisticMystic exactly want to do

[2017-10-06 13:51] AustinXII commented on #139
@Ntonio36 Once you have the HTML the next step isn’t that hard it’s just the hard part. Just allow the EV editor to be customizable in gens 1 and 2. You can see how EVs are customizable in other gens for reference.

[2017-10-06 21:20] Ntonio36 commented on #139
Alright, I have now to look for it and see how it can be made. Will need 10 days at most. I guess.

[2017-10-06 23:30] Ntonio36 commented on #121
Can you strike through the list elements that have been made, please ?

[2017-10-06 23:38] AustinXII commented on #121
Yeah @Ntonio36 last time I tried the syntax didn’t work for somebody reason

[2017-10-07 14:05] Ntonio36 commented on #139
So I'm now facing a problem here : 15 DV of any given stat besides HP equal either 30 IV + 252 EV or 31 IV + 248 EV, it doesn't really matter. The problem here is that I have to create a separate formula to handle EVs (something that might look like `CALC_STAT_RBY_MOD`, to include in `stat_data.js`) but then I have no idea on what changes should I make based upon the original formula. Could anyone

[2017-10-07 16:41] AustinXII commented on #139
If there’s any changes @MartyD would know

[2017-10-18 01:04] SadisticMystic opened #182 "RBY/GSC mix up stat order when determining HP IV"
Nowadays, the canonical ordering of stats is HP-AT-DF-SA-SD-SP, but it was originally ordered as HP-AT-DF-SP-SC, and that's the order that's reflected in the G1 and G2 data structure. If you go into one of those modes and set the Special IV to 14, HP is also supposed to drop to 14 because the low bit there is also the low bit for HP, but the calculator actually sets HP to 13 there, as though it th

[2017-10-18 20:23] Ntonio36 commented on #121
N°6 done in #180 and #181

[2017-10-18 21:25] Ntonio36 commented on #182
So, as far as I understood, the Speed DVs actually weigh 2 bits while the Special DVs only weigh one ?

[2017-10-18 22:28] AustinXII commented on #182
No I think it’s just an issue with the code not being tuned correctly for older gens since it’s mixing up the stat order. It’s presumably using gen3+ stat order in gens 1&2

[2017-11-18 14:50] Storm-Eagle20 opened #185 "Ultra Necrozma's Blank Set has Prism Armor as the ability rather than Neuroforce."
Just wanted to point out this minor bug.

[2017-11-18 16:31] #185 closed

[2017-12-05 01:35] desert97 opened #188 "Spikes break Dragonite's Multiscale"
When you put up 1 layer of spikes, it says that Dragonite's Multiscale is broken on the calc.

[2017-12-05 01:38] AustinXII commented on #188
If this is the case I just forgot to push a commit a long time ago, I’ll check this out

[2017-12-05 15:01] Ntonio36 commented on #188
Sorry @AustinXII :D

[2017-12-06 17:38] #188 closed

[2017-12-08 06:45] HebrewLantern opened #191 "Offline iOS app"
Any chance of making an offline capable iOS app?

[2017-12-08 16:13] AustinXII commented on #191
I was actually going to look into this a year-ish ago but stopped when my laptop broke, perhaps one day. This would probably be done in React so it’s A droid and IOS compatible

[2017-12-12 18:26] Ntonio36 commented on #130
5 months later, I'm working on it. Probably done in like 20 days ?

Regardless, expect big things to be changed.

[2017-12-16 16:19] Ntonio36 commented on #121
Number 8 done in #190

[2017-12-17 11:59] Ntonio36 commented on #130
PR done.

[2017-12-17 22:41] AustinXII commented on #130
fixed in #192

[2017-12-17 22:41] #130 closed

[2017-12-18 17:14] Ntonio36 commented on #182
@SadisticMystic I made a PR that might fix the problem(s), could you test and notify me whether this has solved the issue globally ?

[2017-12-21 19:45] Ntonio36 commented on #182
@AustinXII you can close this issue now :).

[2017-12-21 19:57] AustinXII commented on #182
Fixed in #194

[2017-12-21 19:57] #182 closed

[2018-01-01 03:04] Davey-Hughes commented on #191
On this vein, do you think it would be possible to add/convert this to a NodeJS compatible library? If this is a possibility, I'm happy to help with development, though my JS and Pokemon mechanics knowledge aren't the best.

It seems that it would be possible to separate out the pure JS files from the web/JQuery notation/functions, but considering how integrated the DOM interaction is with the cor

[2018-01-01 15:39] Zarel opened #203 "Z-move KO calculation broken"
https://twitter.com/RealTHStrike/status/947835504388661248

[2018-01-01 19:45] #203 closed

[2018-01-03 06:07] AustinXII commented on #191
@Davey-Hughes that’s probably for zarel to decide.

[2018-01-04 20:54] Tyler-Hilbert commented on #121
Can we add in an export tool for all the presets?  Like it would be nice if I could just pull a pokemon off of damage calculator and put it into my team.

[2018-01-05 23:15] penpexgit opened #213 "When loading a custom set on the right side, Abomasnow form remains, messing up calc"
I followed the following steps:
Load this set:
[code]

then load this set:
[code]

Both imported with success.
Then on the left side, I select 'Only show imported sets', then select my Necrozma-Dusk-Mane set.
Then on the right I select my Gengar manually from the list (since _there is no 'Only show imported sets ' option on the right_).
Then the calc shows this:
`252+ Atk Necrozma-Dusk-Mane Photon

[2018-01-08 00:19] Ntonio36 commented on #213
Planned. It'll take some time, but planned anyways.

[2018-01-10 21:26] Ntonio36 commented on #191
Thinking about it, I wonder how could this be made... Could you mention how might this library used please, @Davey-Hughes?

[2018-01-12 21:31] Ntonio36 commented on #121
Export option added in #217.

[2018-01-16 19:43] penpexgit commented on #213
The bug I described above is still there, so this should be reopened.
Doing the exact same thing as described above (except now I can use "Only show imported sets" on the right too, thanks for that!) I get the same wrong caclc result:
`252+ Atk Necrozma-Dusk-Mane Photon Geyser vs. 0 HP / 0 Def **Abomasnow**: 584-690 (181.9 - 214.9%) -- guaranteed OHKO`

[2018-01-17 23:37] #213 closed

[2018-01-22 00:16] wartab opened #223 "Missing moves: Disarming Voice and Water Gun"
Don't know if it's intended, but you can't have Water Gun nor Disarming Voice in the calculator.
We use this calculator a lot to calculate damage ranges for speedruns and since the Gen 7 speedruns use Popplio, it's tedious to always replace values of other moves.

I'd make a pull request, but my repo contains other changes on the master branch that are related to speedruns, so I cannot just make a

[2018-01-22 13:37] wartab opened #224 "Bubble Beam is Special, not Physical"
https://github.com/wartab/honko-damagecalc/commit/e3762445f86da42cf65fbebbac012eb346a312f1

[2018-01-22 14:41] Ntonio36 commented on #224
Instead of stacking your commits on master branch, just create a separate branch and merge a PR from it..

[2018-01-22 15:06] wartab commented on #224
As I said in my other Pull Request, this fork has another purpose and is not compatible with this repo anymore. If really needed, I'll do it this weekend.

[2018-01-22 15:07] Ntonio36 commented on #224
Never mind then, I'll handle it.

[2018-01-22 15:14] Ntonio36 commented on #223
Could you tell me what are the missing other moves (if any), so I simply can put them all at once?

[2018-01-22 17:04] AustinXII commented on #224
I don’t believe that holds you back, I’ve done multiple PRs when my fork was serverly outdated.

[2018-01-22 17:07] wartab commented on #224
It is not outdated, I modified its feature set to help routing speedruns for Pokémon games. As I said, I'll only have time to do that properly this weekend. If you are wondering what I mean, you can see the result here: http://wartab.be/damage-calc/

[2018-01-23 07:56] AustinXII commented on #224
Fixed in #222

[2018-01-23 07:56] #224 closed

[2018-01-23 07:57] AustinXII commented on #223
Fixed in #222

[2018-01-23 07:57] #223 closed

[2018-01-25 02:38] ViridianDoom opened #227 "Elektross entirely missing"
The Pokemon Elektross does not appear when typing it's name.

[2018-01-25 02:40] Marty-D commented on #227
Try spelling it correctly; it's "Eelektross".

[2018-01-25 02:40] #227 closed

[2018-02-17 17:20] aturfah opened #232 "Automatic move highlighting picks lowest damaging move"
Picking Passimian when Abomasnow is already loaded defaults to Passimian's Earthquake
Picking Ferroseed when Passimian is already loaded defaults to Passimian's Rock Slide
Picking Magmortar when Ferroseed is already loaded defaults to Magmortar's Thunderbolt
If (No Move) is available it chooses that.

Sometimes it picks the status moves (Recover for Mareanie vs Ferroseed) sometimes it doesn't (Fer

[2018-02-18 00:17] Ntonio36 commented on #232
I believe that was fixed a while ago. Check out #229.

[2018-02-18 15:38] aturfah commented on #232
Gotcha, thank you much

[2018-02-18 15:38] #232 closed

[2018-03-05 08:54] Zarel opened #237 ""Honkalculate" option not appearing"
Reported from a tweet:

https://twitter.com/fox_emojis/status/970381483851558912

![image](https://user-images.githubusercontent.com/551184/36965875-4bffd9fa-209e-11e8-8ad8-92296be469e8.png)

[2018-03-16 18:24] #237 closed

[2018-04-26 13:45] Vorodirr opened #245 "Evasion and accuracy"
Should be able to set stat changes in evasion and accuracy for the purpose of correctly calculating stored power's base power. Also having accuracy of moves being considered in the % to OHKO would be nice

[2018-05-11 10:12] penpexgit opened #248 "Left side Marshadow at +1 Att VS right side Marshadow makes all right side Marshadow's moves at +1"
1) Pick Marhsdow's Uber Life Orb Attacker set on both sides
2) Make Attack at +1 on left Marshadow
3) Now any calc from right sides's Marshadow (not at +1) show up at +1, see pic attached [https://imgur.com/a/GPQt1de](https://imgur.com/a/GPQt1de)

It's like it applies Spectral Thief's effect to any of Marshadow's moves, even Shadow Sneak or Rock Tomb as seen on the pic, which should not happen. It

[2018-05-11 12:34] penpexgit commented on #248
Actually after thinking more about it, and further testing, here is what happens: it doesn't even have to be Marshdow on the left side, any Pokémon will do and what I said above is repeatable.
But if you remove Spectral Thief from the moveset this behavior disappears.

So I think what might be happening during a calc where a Marshadow is present is something along these lines (in pseudocode):

if

[2018-05-11 16:06] AustinXII commented on #248
@Ntonio36

[2018-05-18 18:56] tunanut commented on #191
What about mobile web, Since you're considering React

[2018-05-18 21:34] Hidden50 commented on #191
Does it need to be an iOS app? An html5 service worker sounds easier to do, and it would provide offline access for all operating systems.

Here's an example, though you'll also need to make a manifest if you want to make it a web app (that the user can be prompted to install to their home screen, it'll run within their browser in offline mode when they tap the icon).

https://gist.github.com/Hidd

[2018-05-18 21:51] tunanut commented on #191
Agreed.  Damage calc actually doesn't need that many native-only features or accessibilities.  and it'll be much easier to publish.

[2018-06-13 22:54] Storm-Eagle20 opened #252 "Safety Goggles listed twice in the item list and misspelled as 'Safety Googles'."
https://i.imgur.com/pEgGCQN.png

[2018-06-13 23:43] #252 closed

[2018-06-17 15:18] garoninja opened #253 "Add a toggle option for pokemon holding mega stones"
Add a toggle option for pokemon holding Mega Stones evolving with the respective stats and type

[2018-06-21 21:58] penpexgit opened #254 "Choice items are not taken into account in multi-hit moves after the first move"
Following a discussion on Smogon's Forums bug report thread for the calc [here](https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/page-4#post-7820345), the issue is the following:
Choice items (I tested both) are not taken into account in multi-hit moves (I tested Draco Meteor and Superpower for instance) after the first move.
Here is the proof:
252+ SpA Choice

[2018-06-21 22:14] penpexgit commented on #248
I changed the title since it was still containing a reference to Marshadow even though as I mentioned earlier this has nothing to do with Marshadow, but just Spectral Thief. I also slightly rephrased for clarity.

[2018-06-27 00:38] Ntonio36 commented on #253
Just a question, what kind of usefulness should that option provide? (I didn't quite understand the point of your message, to be honest)

[2018-07-25 06:16] Storm-Eagle20 opened #262 "Altarianite is misspelled 'Altarite'."
Not a huge deal, but I figured I'd let you know.

[2018-08-04 09:00] Storm-Eagle20 opened #265 "Abilities on imported sets occasionally reverting to base abilities."
[code]
This set for example, when I import it, the ability sometimes changes to Delta Stream. Do you guys have this same issue? This is particularly annoying when dealing with Balanced Hackmons calcs.

[2018-08-18 10:55] #265 closed

[2018-10-23 05:37] Storm-Eagle20 opened #268 "Light That Burns The Sky doesn't ignore abilities."
https://github.com/Zarel/honko-damagecalc/blob/17f0aec3f4315852176689b16a2c27b52dc44993/js/damage.js#L85

This does not include Light That Burns The Sky. That means it provides incorrect damage calculations against the likes of Fur Coat, Unaware, etc.

[2018-10-23 23:35] #268 closed

[2018-12-04 13:51] Kanbe-Kotori opened #271 "The calculator doesn't contain type changing moves"
as title.
emm... and also Trick-or-Treat.

[2018-12-31 20:17] #254 closed

[2019-01-15 15:31] ElMustacho opened #276 "Picking Regigigas (BH Poison Heal) still gives Slow Start as the ability, same goes for other BH sets"

[2019-01-15 17:11] AustinXII commented on #276
In need of a new computer but when i buy one I’ll look into the calc again. I’ve been too leanient on code standards I suppose. I probably should have just waited until I could have done everything myself to avoid to calcs current state :/

[2019-01-23 16:47] Greenheroes55 opened #279 "Normalize isn't counted as an -ate boosting ability"
it got a buff of a 0,2x damage multiplier in gen 7 on all affected moves

[2019-01-23 16:49] Greenheroes55 opened #280 "Judgment and all other item based type of move aren't supposed to be affected by normalize"
The calc currently change it to the normal type by default

[2019-01-24 21:45] #279 closed

[2019-01-24 21:48] AustinXII commented on #280
Are all -ate moves changing these type-changing-moves types?

[2019-01-24 21:57] #280 closed

[2019-02-01 01:46] tunanut opened #284 "Weakness Policy is missing"
Seeing it checks 'weakness policy' for `getFlingPower`  https://github.com/Zarel/honko-damagecalc/blob/master/js/data/item_data.js#L436
but it's not in the item list

[2019-02-01 03:36] #284 closed

[2019-02-01 03:49] tunanut commented on #284
Hmm I guess this item doesn't have anything to do with damage calc.. Now I understand

[2019-02-01 04:52] AustinXII commented on #284
@tunanut nope it’s only used for the bad fling option

[2019-02-06 22:45] Zarel opened #287 "Moongeist Beam doesn't ignore Multiscale?"
I got a report from someone on Twitter:

[2019-02-27 21:57] LOPPPUNNNY opened #288 "Dragon Dance Missing"
I know it is a status move but I imported a set with D-Dance and it is not coming up. Just figured someone would like to know

[2019-02-28 02:49] #288 closed

[2019-02-28 02:50] AustinXII commented on #253
I believe the forme change option fixed this

[2019-02-28 02:50] #253 closed

[2019-03-03 11:07] Zarel opened #289 "Solar Power Electric Terrain issue"
I got this bug report from Twitter:

damagecalc

[2019-03-03 15:34] AustinXII commented on #289
The boost will still be applied but I’ll look into eot text not displaying

[2019-03-19 09:27] NotHadakUra opened #291 "The damage calc does not match what is on Pokemon Showdown"
Using the damage calc here: https://pokemonshowdown.com/damagecalc/

252 SpA Choice Specs Tapu Koko Grass Knot (120 BP) vs. 252 HP / 252+ SpD Groudon-Primal: 244-288 (60.3 - 71.2%) -- guaranteed 2HKO

252 SpA Choice Specs Tapu Koko Grass Knot (120 BP) vs. 252 HP / 252+ SpD Groudon: 244-288 (60.3 - 71.2%) -- guaranteed 2HKO

Note they are the same percentages for both Primal-Groudon and normal Grou

[2019-03-19 11:20] Zarel commented on #291
Oh hey I forgot, GitHub has a Transfer Issue button now! It seems to have worked.

[2019-03-19 15:03] AustinXII commented on #291
Hmm there appears to be an issue with what forme is automatically selected when selecting a pokemon with an alternate forme, will investigate. I imagine #281 is at fault

[2019-03-19 15:03] AustinXII commented on #291
Also that is pretty cool, github is adding a lot of cool features recently

[2019-03-19 18:51] AustinXII commented on #248
We don’t really have a good method of tracking only one of the moves being used. I’ve left the open to remind myself that we should probably do that at some point

[2019-03-22 19:19] #291 closed

[2019-04-03 20:06] AustinXII commented on #289
the "in sun" is not needed because solar power is only activated in the sun. We don't display the electric terrain because the description would be too long, but again the boosts are being applied

[2019-04-03 21:04] AustinXII commented on #276
fixed

[2019-04-03 21:04] #276 closed

[2019-04-03 21:10] AustinXII commented on #271
adding onto this, we don't have any of the moves that change the opponents type

[2019-04-04 14:27] penpexgit commented on #289
I am not sure what is implied by the last comment, but as much as it makes sense to not display 'in Sun' since Solar Power is already written, and activates only in Sun, thus making it implicit that Sun is indeed here, I think this is important to display 'in Electric Terrain' since it enters into the calculation.

[2019-04-04 14:36] AustinXII commented on #289
@penpexgit solar power also matters because it’s a special move unless I’m mistaken

[2019-04-04 15:49] penpexgit commented on #289
I'm not sure what you mean, because Solar Power is ability, not a Move. It boosts the SpA under Sun, and Thunder being a Special move, it had to be displayed, I was never disputing that. I was just seemingly agreeing to what you had said earlier that 'in Sun' was not needed.

By the way, this claim to not display 'in Sun' is more disputable in my opinion if the move is a Fire move, now that I thin

[2019-04-04 17:15] AustinXII commented on #289
@penpexgut to clarify by “it’s” I meant thunder sorry for the vagueness. Oh no it’s definitely important I’m just saying why it’s currently not being displayed so I don’t forget when I actually tackle it.

[2019-04-04 17:15] AustinXII commented on #289
When I’m finished I want all of the relevant eot being displayed.

[2019-04-09 16:30] WheatiesTM opened #296 "Both to all commit bug"
@AustinXII caught a bug in the pull request I just submitted, apparently i++ doesn't play nicely with string operations, will fix tonight

[2019-04-09 16:38] AustinXII commented on #296
I was going to say something but figured you tested, no worries but please test for future references

[2019-04-14 09:45] wartab opened #298 "Alolan Raticate base HP is incorrect when selecting Alolan form from the sub menu"
I couldn't find how to fix this myself, so I apolgize for not submitting a PR.
Seems like the HP value is not transferred if it changes in an alternate form?

![Bug](https://i.gyazo.com/258a7fb9ec993bf21c4c96ae6f09ffab.png)
Base is 75 for Alolan form, not 55.

[2019-04-18 19:38] Honko opened #301 "Flash Fire shouldn't be activated by default"
I see Flash Fire is a toggleable checkbox now, which is cool, but that checkbox should start unchecked because more often than not the ability won't be activated. This has already surprised me when running a couple of calcs.

[2019-04-18 20:25] #301 closed

[2019-04-18 20:25] #296 closed

[2019-04-23 18:05] #287 closed

[2019-04-23 19:03] #298 closed

[2019-04-23 19:10] AustinXII commented on #298
HP wasn't apart of STATS so it would never get updated

[2019-04-23 21:13] Zarel opened #303 "Stealth Rock and Spikes issue"
https://twitter.com/LarsHabermann1/status/1120796616393396225

Told you something would break, @AustinXII

[2019-04-23 21:23] AustinXII commented on #303
@Zarel already fixed and updated on the main calc (thanks TI). Tbf this was apparently broken for weeks and no one complained somehow, even after I got people who play constantly to test with it 🤦‍♂️. This actually broke with my refactor because of a forgotten “!” and not because of the recent changes that got uploaded

[2019-04-23 21:23] #303 closed

[2019-04-23 21:27] AustinXII commented on #303
Oh it’s because I’m remembering wrong, I guess my refactor did get pushed after the toggle abilities.  I just assumed it was at the same-ish time  since I asked you to update after I did the refactor but I guess you didn’t and did it by yourself a few days before, whoops.

[2019-04-23 21:45] AustinXII commented on #303
It might be an annoyance but I may start adding versions on the calc page so I know how caught up main is. It would make pinpointing what actually broke something a lot easier since the calc can go months without a sync

[2019-04-28 19:35] GreyBM opened #305 "No Crits"
Noticed this while playing with Z-Tailwind, but the calc isn't displaying critical hit damage when prompted.

Also, I'm unsure if the calc is updated with analysis sets automatically or not but there's quite a few sets from upwards of 3 months ago that have been uploaded on the smogdex but aren't on the calc, e.g. Victreebel's Strength Sap set, Bouffalant's SubSD set, SubToxic Kangaskhan and Gastr

[2019-04-28 20:16] #305 closed

[2019-04-28 20:16] AustinXII commented on #305
Was fixed a few days ago, waiting on an update

[2019-04-28 20:27] AustinXII commented on #305
@Zarel I haven’t seen you or TI on in a few days, probably just bad timing on my end. BTW Marty doesn’t have client access which could be handy if you’re willing to give it to him.

[2019-04-29 02:55] Zarel commented on #305
I updated

[2019-05-01 19:50] Arbbib opened #308 "Mold Breaker is not being calculated"
Mold breaker is not affecting damage. For example, mold breaker haxorus at +2 attack does the same to unaware clefable as an unboosted haxorus

[2019-05-01 19:53] Arbbib opened #309 "Mega Pokemon with Non-Mega Abilities"
Mega pokemon are loading up with their non-mega abilities. For example, if you pull up a mega pinsir set, it will have hyper cutter on it

[2019-05-01 19:58] AustinXII commented on #308
I was waiting to see if asgdf was going to make a pull request, for now I’m not going to touch mold breaker until pre finishes his refactoring / tests

[2019-05-01 19:58] AustinXII commented on #309
@asgdf didn’t you fix this?

[2019-05-01 20:28] scheibo commented on #308
I haven't started coding yet

[2019-05-01 20:34] AustinXII commented on #308
@scheibo still going to wait unless I randomly get inspired to tackle it again.

[2019-05-01 20:58] scheibo commented on #308
I didn't actually (intend to) change anything in my refactoring writh respect to functionality, so presumably my code still have the same bugs wrt moldbreaker as the main repo.

[2019-05-01 21:01] AustinXII commented on #308
@scheibo I know but at least after I can just make a moldbreaker test so it doesn’t break again and is a lot more obvious if it’ll work. Also I’m kinda banking on typescript finding the error 😜

[2019-05-01 21:13] AustinXII commented on #308
@scheibo well at least I can add some tests for it to prevent it breaking for no reason in the future

[2019-05-02 00:36] Dennis-Sun opened #310 "Inequality between Electric Terrain and +1 ability boost"
These two calculations should provide the same results (because both electric terrain and +1 should have a 1.5 damage multiplier), but they do not:

Possible damage amounts: (178, 181, 183, 186, 187, 189, 192, 193, 196, 198, 199, 202, 204, 207, 208, 211)

vs

Possible damage amounts: (177, 178, 180, 183, 184, 187, 189, 190, 193, 195, 198, 199, 201, 204, 205, 208)

[2019-05-02 01:36] AustinXII commented on #310
I suspect L#837 is the culprit. Terrain uses pokeRound, modifiers use math.floor. Are you sure terrain’s aren’t just handled later in the calculation than stat modifiers because the calculations are very close? Electric terrain definitely has the correct 1.5x modifier

[2019-05-04 01:48] asgdf commented on #309
I fixed it for switching between formes, but here the issue is probably that Smogon has the set with the mega as the pokemon but the base's ability, and we're taking that at face value. Not sure how I'd fix that, we can't just always override with the default ability because we allow selecting different ones.

[2019-05-04 03:50] AustinXII commented on #309
Oh it’s __that__ issue, I requested them add a further evolution to support mega Pokémon because that seems to make more sense but I haven’t gotten a reply. Thanks @asgdf

[2019-05-06 08:24] Zarel commented on #309
You _can_ just fix it in your own code...

[2019-05-06 15:06] AustinXII commented on #309
@Zarel yes but then there is an issue of honko’s script overriding the changes every time, or adding back the sets with the base forme abilities..

[2019-05-07 00:33] AustinXII commented on #309
@Honko opinions?

[2019-05-07 01:07] #271 closed

[2019-05-07 01:46] Zarel commented on #309
I meant in your code, not in your data. :[

[2019-05-07 02:01] AustinXII commented on #309
@Zarel it would be incredibly ugly code :[, I'd rather change the setdex files to just have the mega's at the bottom and possibly not have honko's script gather mega pokemon data

[2019-05-07 02:03] Zarel commented on #309
Sure, it's an obvious workaround and may be "ugly" in that sense, but you can just mark it with a comment. It should only be a one-liner anyway.

[2019-05-07 02:07] AustinXII commented on #309
@Zarel yeah true. I still hate how pokemon imported from smogon by users would still have their base forme abilities because of how smogon dex works. If they changed that we would have both issues fixed :/

[2019-05-07 02:24] Honko commented on #309
@AustinXII I thought I fixed the setdex side of this in https://github.com/Zarel/honko-damagecalc/pull/306. Can you clarify what's not working?

[2019-05-07 03:03] AustinXII commented on #309
@Honko you can't import a mega pokemon without getting is default ability, I can't load your changes rn because im on mobile, but did you change the mega pokemon sets to have their non-base form ability? If so that's one of the issues fixed :) the second will be fixed in #314

[2019-06-06 21:22] inspiredorigami opened #319 "Simple beam (move) not in the move list for any pokemon yet"
Simple beam doesn't seem to be anywhere in the moves list.  I know that Beheeyem, Linoone, Xatu, Audino, etc. should all be able to use simple beam, but it does not seem to be possible to select it as a move.

[2019-06-06 21:54] Zarel commented on #319
Is this necessary? Can't you just manually select Simple from the ability list?

[2019-06-07 02:40] AustinXII commented on #319
^ that’s the reason it isn’t added, it’s a lot of hand holding and the only way we could implement it currently would make people say “why is simple my ability just because a Pokémon has simple beam????”

[2019-06-07 02:40] #319 closed

[2019-06-24 19:41] Checkmate8397 opened #321 "Lycanroc-Dusk Stat Errors"
Lycanroc-Dusk has 115 base attack and 112 base speed in the calc not its actual stat of 117 and 110 respectively.

[2019-06-24 22:08] AustinXII commented on #321
``"Lycanroc-Dusk": {
		"t1": "Rock",
		"bs": {
			"hp": 75,
			"at": 117,
			"df": 65,
			"sa": 55,
			"sd": 65,
			"sp": 110
		},
		"w": 25.0,
		"isAlternateForme": true
	},
``

[2019-06-24 22:08] AustinXII commented on #321
?

[2019-06-28 16:15] Checkmate8397 commented on #321
![image](https://user-images.githubusercontent.com/52177326/60356189-43b5af00-99c8-11e9-94e2-bc89c28a3799.png)
Assuming the image uploads this is how lycanroc-dusk's stats are, which isn't what they actually are.

[2019-06-28 19:39] AustinXII commented on #321
It says ``forme Lycanroc``...

[2019-06-28 21:53] #321 closed

[2019-06-28 21:54] Checkmate8397 commented on #321
![image](https://user-images.githubusercontent.com/52177326/60373344-bc802f80-99f7-11e9-8ef6-b9e3137535c7.png)

[2019-06-28 21:56] Marty-D commented on #321
I can't believe no one noticed it was misspelled until I looked at it for two seconds.

[2019-06-28 23:04] AustinXII commented on #321
I didn’t have time to actually look into it, I just looked at the lycanroc-dusk property . Anyways thanks

[2019-06-28 23:06] AustinXII commented on #321
My 2 seconds was worse than yours tho :(

[2019-07-13 02:48] Novocastrian opened #325 "CSS broken at https://pokemonshowdown.com/damagecalc/"
The CSS on the damage calc page refuses to load in Firefox or Edge on Windows 10, nor Firefox on Android.
<details><summary>Screenshot from Windows 10:</summary>
<img src="https://user-images.githubusercontent.com/4601813/61165976-d62e8480-a56a-11e9-8013-9481ec2d3f7a.png">
</details>

Here's the console log whenever loading the page:<details>
  <summary>Click to expand!</summary>
  The script from

[2019-07-13 03:17] Zarel commented on #325
We apparently botched an update.

Should be fixed now.

[2019-07-13 03:17] #325 closed

[2019-07-13 05:13] Novocastrian commented on #325
Yep! Fixed. Thanks for the quick resolution - much appreciated :)

[2019-07-22 18:24] nineliiife opened #326 "Sea Incense isn't correctly calculating damage"
![image](https://user-images.githubusercontent.com/28803606/61655112-cb37ca80-acb5-11e9-9643-86b6d39febeb.png)

As above, both Splash plate and Sea Incense should apply a 20% boost, but are producing different outputs. It looks like Sea Incense is being applied twice, resulting in a 1.44x modifier instead

[2019-07-22 22:02] AustinXII commented on #326
@scheibo is this another bug caused by you?

[2019-07-22 22:12] scheibo commented on #326
I don't know. It seems less likely, but I'll look at it while I'm fixing the others :)

[2019-07-22 22:12] scheibo commented on #326
Oh wait, it could be the same issue I just fixed with mutation TBH

[2019-07-22 22:19] scheibo commented on #326
No, just synced to 0d781bb4d72a1d166eb1c255877b73757069774f and its present then

[2019-07-23 04:46] #326 closed

[2019-08-04 10:22] scheibo opened #327 "Add offline support using ServiceWorker"
_Originally posted by @Hidden50 in https://github.com/Zarel/honko-damagecalc/issues/191#issuecomment-390338501_

---

http://guangcongluo.com/saber/service-worker.js
[code]

_Originally posted by @Zarel on Discord_

[2019-08-04 10:24] scheibo opened #328 "Use a bundler like Parcel/Webpack during builds"
**Parcel:** https://parceljs.org/
**Webpack:** https://webpack.js.org/

Parcel looks much simpler. Ideally the bundler should:
- concat and minify JS
- minify HTML/CSS
- handle cache busting

[2019-08-04 10:29] scheibo opened #329 "Add analytics around page views and which modes are being used"
- Set up a new property for the damage calc in Google Analytics
- add something like following snippet:

[code]

Though we also want to track:
  -  `generation`
  - `mode` (one vs one, one vs all, all vs one)
  - `format` (standard, vgc, random, bss, etc)

[2019-08-04 10:33] scheibo opened #330 "Fix Parental Bond"
_Originally posted by @DaWoblefet on [Smogon](https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/post-8199267)_

This will likely require making `calc.calculate` return a `Result[]` instead of `Result`, or something to that effect. The [VGC calc](https://github.com/jake-white/VGC-Damage-Calculator) handles this already, might be worth looking to see what they're

[2019-08-04 10:36] scheibo opened #331 "Correct Generation 7 modifier order per OZY's research"
_Originally posted by @DaWoblefet on [Smogon](https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/post-8199267)_

This may require copying `calc/src/mechanics/gen7.ts` to `calc/src/mechanics/gen6.ts` and redoing `gen7.ts` with the new changes, though a way which shares more code would probably be worth investigation.

[2019-08-04 10:37] scheibo opened #332 "Move repository to github.com/Pokemon-Showdown/Pokemon-Showdown-Calc"
Afterwards, we can cut a v0.0.1 release of `@pokemon-showdown/calc`

[2019-08-04 10:43] scheibo opened #333 "Add support for the Random Battle format"
https://randbatscalc.github.io/

- Add a `format` selector (Standard vs. Random, later VGC and BSS etc) along with the `generation` and `mode` selectors
- This mode should likely implemented as a separate page from `index.template.html`
- This mode can include information about the 'pools' available (Ability/Move/Damaging move pool)

@LegoFigure11

[2019-08-04 10:46] scheibo commented on #333
One though regarding the move pools - instead of taking up additional space in their own divs, maybe we could include the same information in the existing dropdown? ie/ the Ability dropdown would just look like:

[code]

kind of like the set selector, with the damaging moves sorted at the top and demarcated to make things clear.

(This is just a suggestion/idea, implementing the pools as they are

[2019-08-04 10:50] scheibo opened #334 "Depend on Pokémon Showdown's data files"
https://pkmn.cc/modular-ps for high level plan, specifics still need to be sorted out with respect to the exact `@pokemon-showdown/data` module.

[2019-08-04 11:06] scheibo opened #335 "Improve set import support"
Currently importing formes doesn't work. See [bug report](https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/post-8203752).

[code]

[2019-08-04 11:06] scheibo commented on #335
The set import support in `src/js/moveset_import.js` is fairly primitive, and will become even more outdated when [PS adds to the format](https://github.com/Zarel/Pokemon-Showdown-Client/pull/1333).

I'd recommend blocking this on #334 - we should share the import logic with PS, and it should also allow for importing/exporting individual sets instead of just teams. cf. https://github.com/pkmn-cc/d

[2019-08-04 11:25] scheibo opened #336 "Changes to DVs/IVs should change the Hidden Power type/base power"
**Bug Report:** https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/post-8203525

- In gens 1-6, changing DVs/IVs manually should also change the HP Type/base Power ([see calculation here](https://github.com/pkmn-cc/Pokemon-Showdown-Stats/blob/master/ps/index.js#L102))
- changing the Hidden Power type/base power in gens 1-6 should change the IVs/DVs to defaults ([

[2019-08-04 11:46] scheibo commented on #191
I'm closing this in favor of #327.

Yes, I in fact did this, @Davey-Hughes. It wasn't a super fun task :). See the `calc/` subfolder, it will soon be published on NPM as `@pokemon-showdown/calc`.

[2019-08-04 11:46] #191 closed

[2019-08-04 17:00] AustinXII commented on #328
Parcel is also apparently has a lot better benchmarking

[2019-08-04 17:07] Zarel commented on #327
My link takes the "download the newest version" tradeoff, which I think you forgot to mention.

I also wrote a lot more on Discord, in case anyone was interested in the history of Service Workers:

[1:19 PM] Zarel: the main tradeoff is "if there's internet, do you serve the local file or download the newest version?"
[1:20 PM] Zarel: if you serve the local file, it loads instantly, but it might be

[2019-08-04 17:07] Zarel commented on #328
I'm not sure if Parcel handles cache busting, though.

[2019-08-04 17:10] #308 closed

[2019-08-04 17:50] Zarel commented on #329
Actually, if you guys want to make your own Analytics account or something? Or does it have to be me?

[2019-08-04 18:04] scheibo commented on #329
I mean, its hosted on your domain, I feel it'd make for sense for you to set it up. It'd be nice if you [granted us access to it](https://www.monsterinsights.com/docs/how-to-grant-user-access-in-google-analytics/) though.

[2019-08-04 18:13] Zarel commented on #329
I remember giving others Analytics access used to be a mess, but it might have been fixed by now.

[2019-08-04 18:30] scheibo commented on #330
This is somewhat obnoxious with our existing multi hit support. Also, TT just returns `parentDamage` and `childDamage` instead `damage` (but one `description`). Not sure if we want that or `Result`, will need to think about it.

[2019-08-05 18:19] scheibo commented on #332
Also, per discussion, we will host the page at `calc.pokemonshowdown.com` with `damagecalc.pokemonshowdown.com` and `pokemonshowdown.com/damagecalc` redirecting to the new subdomain.

[2019-08-06 09:16] Slashcash opened #338 "Incoherent stats between game and calculator"
I have noticed a strange incoherence between the final stat value shown by the calculator and PKHex/the actual game itself. Taking the image i uploaded as a reference:

the same pokemon (Venusaur) with the same level, iv, ev and nature has two different speed values reported by the calculator and pkhex. For that matters that same pokemon has a 200 speed stat in the actual game (checked using a 3ds

[2019-08-06 09:26] Slashcash commented on #338
I'm so stupid i didn't realize the stat in PKHex were actually tapped. Everything is fine :D

[2019-08-06 09:26] #338 closed

[2019-08-10 20:50] jamesqo opened #339 "Sets for Necrozma-DM / Necrozma-DW / Ultra Necrozma on Smogon analysis do not show up"
For Necrozma-DM there is only the "Uber Showdown Usage" with the EVs Jolly 252 / 4 / 252, but it runs many other sets that have significantly different EVs, so it's somewhat inconvenient to have to re-enter them manually or create a custom set.

[2019-08-10 21:05] jamesqo opened #340 "Reflect forme changes in the description"
If you go and do a calc with Ash-Greninja then it will denote it with `Greninja-Ash`:
[code]
However, if you change the forme to regular Greninja, it will still say `Greninja-Ash` instead of `Greninja`:
[code]

[2019-08-10 21:08] jamesqo commented on #340
On a related note, is there a reason why the sets for Ash-Greninja and Zygarde-Complete don't show up for Greninja and Zygarde, respectively? We display the sets for Mega/Primals for their base formes too, so it would make sense to be consistent for these 2.

[2019-08-11 01:56] AustinXII commented on #339
We rip our sets from smogon, maybe you could try to convince the Uber’s guys to write an analysis.

[2019-08-11 01:57] AustinXII commented on #339
The usage sets are “the most common set used on PS” and is used to give Pokémon without any analysis a set for the calc

[2019-08-11 06:47] jamesqo commented on #339
@AustinXII There are analyses for these Pokemon, see here: https://www.smogon.com/dex/sm/pokemon/necrozma-dusk_mane/. None of "Double Dance", "Ultra Swords Dance" or "Specially Defensive" show up in the dropdowns.

[2019-08-11 07:52] AustinXII commented on #339
It must have been done semi recently, all we have to do now is wait did honko’s script to be ran again

[2019-08-11 15:27] jamesqo commented on #339
@AustinXII All of these were added quite a long time ago actually. They have never been picked up on.

[2019-08-11 15:57] AustinXII commented on #339
@Honko

[2019-08-11 16:42] #340 closed

[2019-08-11 18:31] Honko commented on #339
@AustinXII the sets are technically there in the data, they just aren't showing up in the UI because Smogon names the formes slightly differently from how PS does and I didn't notice the mismatch.

https://github.com/Zarel/honko-damagecalc/blob/master/calc/src/data/species.ts#L6867-L6901
https://github.com/Zarel/honko-damagecalc/blob/master/src/js/data/sets/gen7.js#L2435-L2463

I will fix this nex

[2019-08-11 19:51] scheibo commented on #331
**Relevant:** https://github.com/jake-white/VGC-Damage-Calculator/commit/830bd17f260ef16784956dd666d46b8f0aa85372

[2019-08-11 19:57] scheibo commented on #330
**Relevant:** https://github.com/jake-white/VGC-Damage-Calculator/blob/gh-pages/script_res/damage.js#L644

[2019-08-12 11:22] scheibo opened #343 "Update sets and commit set update script"
We should **include the set import logic in the codebase** so that any collaborator can update sets and we don't have to bug @Honko to run things for us (eg. #339). Alternatively, I will write a new set importer script and include it in the codebase.

On the topic of set imports, I received the following request via PM:

**Does the script currently elide certain metagames from the analyses?** I th

[2019-08-12 16:53] Honko commented on #343
I recommend writing a new one. Mine is written in Java, not because that's the right tool for the job but because it's what I was comfortable using at the time. It works, but it's bloated and full of lazy fixes I've added over the years. I'd be happy to review the new script and call out any funky edge cases that you might have missed.

Yes, it currently uses a whitelist of metagames, for two reas

[2019-08-12 17:27] scheibo commented on #329
Reopening to track Austin and I getting access to the dashboard and tracking gen/mode properly.

[2019-08-12 20:55] Honko commented on #339
Fixed in #345

[2019-08-12 21:04] AustinXII commented on #329
I think I’m going to make a new google account for this so I’ll commit when I’ve done that

[2019-08-13 02:17] jamesqo commented on #339
@Honko There appears to be a new bug now. When doing a calc against Necrozma-DM its name is not used, instead the name of the Pokemon that you were previously calcing against is.

[2019-08-13 02:41] AustinXII commented on #339
@scheibo didn’t you recently fix a glitch that was similar?

[2019-08-13 04:30] Honko commented on #339
The problem is [here](https://github.com/Zarel/honko-damagecalc/blob/25fa3a6e08f9ff800b984371bab51af6a3f340a2/src/js/shared_controls.js#L445-L453). It assumes that alt forme names will only contain one '-' with an exception for 'Mega-X' and 'Mega-Y'. Looks like we need to add an exception for Necrozma formes as well. Right now it tries to find a base forme named 'Necrozma-Dawn' or 'Necrozma-Dusk'

[2019-08-13 07:37] scheibo commented on #339
PS data files (#334) have better support for formes, so I think @Honko's fix is sufficient until then. Thanks!

[2019-08-13 15:07] scheibo commented on #329
_Originally posted by @Zarel in https://github.com/Zarel/honko-damagecalc/pull/341#issuecomment-520622483_

[2019-08-14 20:05] #329 closed

[2019-08-15 10:04] scheibo commented on #332
I did this part, only @Zarel can perform the repo move.

[2019-08-15 12:54] scheibo commented on #343
@Honko: I'm currently working on this. Some questions that I already have:

1) How are the `'XX Showdown Usage'` sets populated?
2) What is your current whitelist of metagames?
3) I assume you're just taking the first option in every case where the Smogon moveset has slashes?
4) Smogon coallesces Megas in with base formes - I assume you pull out the sets where the mega item is used for the mega's

[2019-08-15 16:00] Honko commented on #343
1. I pull the JSON moveset stats from the latest month's `/chaos/` directory under `https://www.smogon.com/stats/` for all the current gen mainline tiers (OU/UU/RU/NU/PU/ZU, Ubers, LC, and Doubles OU). I use the highest available weighted ladder (1825 for OU and Doubles OU, 1760 for everything else). I don't do anything fancy, just take the top 4 moves, top item, top ability, top nature, and top E

[2019-08-16 18:28] jamesqo commented on #339
@Honko It also appears to be happening for Aegislash-Shield:
[code]

[2019-08-19 15:50] Honko commented on #339
Ah yeah, the calc calls the two formes "Aegislash-Blade" and "Aegislash-Shield", so it can't find a base forme by just chopping off the suffix like it does for all other alt formes. I haven't changed anything related to Aegislash in a long time though so I'm gonna leave it to someone else to fix that.

[2019-08-23 20:45] scheibo commented on #343
@Honko - Did you give me the correct link for Gen 2 NU? I have a comparison script for my output vs. what's currently checked in, and other than Gen 2 NU Showdown Usage sets we match (modulo sets which have changed since you last ran it and with bugs in your output corrected by my script).

For posterity, this is what I'm using to compare:

[code]

[2019-08-25 00:35] #334 closed

[2019-08-25 00:35] #343 closed

[2019-09-03 02:22] scheibo commented on #309
I think this is fixed?

[2019-09-03 02:22] #309 closed

[2019-09-03 02:24] scheibo commented on #328
Parcel does handle cache busting. Its also proven to be great for lazy loading, as well as a huge boon in development with hot module reloading. I have had absolutely zero problems with it so far and everything just works. It's amazing.

[2019-09-03 02:28] scheibo commented on #333
My plan here is currently to repurpose the actual `random-teams.js` code from PS to generate the correct pools of abilities/items/moves. The new UI will only be slightly different for random formats - the moves in the move pool will be sorted to the top of the select box (in the same way high usage moves are sorted to the top of the select box for non random formats), and there will be a divider l

[2019-09-04 18:31] scheibo opened #348 "Miscellaneous Bugs & Feature Requests"
Past reported bugs and feature requests from the [Smogon thread](https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/). I'm unsure if the 'Potential' bugs are still relevant, they should be moved under 'Verified' once confirmed (or removed).

Bugs can still be addressed as they are reported on the thread and is still the correct venue for reporting bugs, but this

[2019-09-04 22:43] scheibo commented on #333
This is the majority of what is required for Gen 1, where its just moves that matter.

[code]

[2019-09-04 23:37] scheibo commented on #333
And gen 2:

[code]

Gen 3+ starts looking more 'traditional'

[2019-09-05 02:58] scheibo commented on #333
Here's a first pass at gen 3 which seems to work, but requires much more sanity checking. Beginning in this gen is where we need to start getting more clever with how convert move/ability checks into move and ability **pool** checks (and treat negatives or less than etc differently - which i'm possibly missing in some cases here). Basically, checks need to be changed to apply to ALL or NONE to nar

[2019-09-08 19:26] scheibo commented on #327
https://developers.google.com/web/tools/workbox/modules/workbox-build

[2019-09-15 19:24] jamesqo opened #351 "Inaccurate description for move.usedTimes"
Just noticed this recently:
[code]
I think this should read `93.8% to **not** 2HKO`, since the range is in Muk's favor to live.

[2019-12-24 10:00] ajhyndman opened #360 "Body Press should use defence instead of attack"
The move "Body Press" should compute its damage using the defence stat instead of the attack stat of the attacker.

https://www.serebii.net/attackdex-swsh/bodypress.shtml

See also:

https://github.com/jake-white/VGC-Damage-Calculator/issues/78

[2019-12-24 15:14] scheibo commented on #360
Didn't @AustinXII fix this with https://github.com/smogon/damage-calc/commit/b12e847ea5de861682854614883009577fbbafe9?

[2019-12-31 06:14] kyleoliveiro commented on #360
That commit makes Body Press use ATK instead of DEF, and makes all other physical moves use DEF instead of ATK.

[2019-12-31 19:04] #360 closed

[2019-12-31 19:04] AustinXII commented on #360
#361

[2020-01-12 22:43] Checkmate8397 opened #365 "Power Spot"
So i just played a game, using stonjourner. The calcs show stonjourner getting a 1.3x damage boost to its attacks, but in the game it didn't as that isn't how Power Spot works. As i understand it, the ability should only apply to allies, so the calc is buffing the damage output incorrectly.

![image](https://user-images.githubusercontent.com/52177326/72226764-9a618f80-358c-11ea-9728-94c82def778b.p

[2020-01-15 21:02] MineRobber9000 opened #366 "Add Power Trick mode"
It would be great if the damage calculator had a toggle for each pokemon to simulate the use of Power Trick (swap attack and defense). This would allow for damage calculations such as "what happens when a Power Trick Shuckle with max stat boost uses Power Trip against an RU Swords Dance Abomasnow?"

[2020-01-16 17:23] scheibo commented on #366
This seems unnecessary to me.

[2020-01-17 00:40] AustinXII commented on #366
Yeah it might be too much hand holding

[2020-03-06 16:21] scheibo commented on #333
@AustinXII please see the initial comment here (ie. randoms should be a separate page in the current UI most likely).

As I mentioned, I've abandoned the idea of generating pools as I was doing above because its slightly intractable given how the random battle generators change often. @TheImmortal suggested usage stats, I'm going to process the latest random battle usage stats from January into th

[2020-03-06 18:40] Ntonio36 commented on #348
Foul play message fixed in #373

[2020-03-06 19:30] AustinXII commented on #348
Updated

[2020-03-13 09:08] ajhyndman opened #378 "Interest in collaborating on import/export set parser?"
Hey!  I realised the parser for importing and exporting sets in this package wasn't very portable, so I went through the exercise of writing some code myself.

https://github.com/ajhyndman/visual-pokemon-calc/blob/master/src/export.ts

It looks like there's some interest in improving the capabilities here as well (i.e. #335), so I just wanted to offer to submit something similar as a pull request.

[2020-03-13 18:53] scheibo commented on #378
We don't really want to implement our own import/export logic ourselves and would like to be sharing it with PS so that we can automatically be up to date (and support legacy imports) when the format changes. I'd accept a PR which just rips out the current existing PS import/export logic from the client code (which is somewhat non trivial because it depends PS's data files), but I'm not sure about

[2020-03-13 19:21] ajhyndman commented on #378
Yeah, one standard implementation of import/export sounds ideal!

Is the pokemon showdown code published somewhere?  I looked briefly, but didn't find it.

[2020-03-13 19:41] scheibo commented on #378
https://github.com/smogon/pokemon-showdown-client/blob/master/js/storage.js#L1083 is the code for importing (exporting is below that). https://github.com/pkmn-archive/dmg/blob/master/import.ts is where I extracted this in the past, but didn't port it over when I created the `@smogon/calc` package because I'm fairly certain sharing is a better long term approach than copying.

To import a PS set wi

[2020-03-15 07:22] ajhyndman commented on #378
I got some time to read through the roadmap doc today, and it looks amazing!

I do want to make a point of saying that working with this repository has been one of the most pleasant open source experiences I've had.  I certainly wouldn't have started experimenting with my own project if hadn't been here already.  So thanks for all the work!

I'm curious how far along the journey in that roadmap yo

[2020-03-15 07:22] #378 closed

[2020-03-15 08:05] scheibo commented on #378
Thanks!

Hmm... I havent really written down anywhere what the current state of all of this is, but because you asked:

- `calc` is split out, though doesn't depend on `data` yet
- `data` is technically working and is powering https://smogon.com/dex so its technically 'production ready' but still very much WIP to make ergonomic and generally useful etc and is very much the hardest component becaus

[2020-03-15 21:19] ajhyndman opened #379 "Use "getter" pattern to derive current stats in Pokemon class"
I want to propose computing the current "real" stats for a pokemon at access time instead of constructor time.  I think this might clean up some weird logic, and also make it easier to display the effect of stat boosts, items, and abilities on a pokemon's real stats.

This could look like changing `.stats` to `.getStats()` on the Pokemon class, or if we want to be clever, it could even be a proper

[2020-03-15 22:11] scheibo commented on #379
We don't do `get`ters because we target old browsers and havent added a bundler/transpiler ([see our tsconfig still outputs es3](https://github.com/smogon/damage-calc/blob/master/calc/tsconfig.json#L8)). You'll notice I already have a comment https://github.com/smogon/damage-calc/blob/master/calc/src/pokemon.ts#L111 because `maxHP` is another obvious `get`ter. #328

Can you point out some specific

[2020-03-15 23:35] ajhyndman commented on #379
Oh, wow.  Do you still see usage from browsers older than IE 9?  Anyway, it's not really that big of a difference to make it an explicit function call.

As mentioned above, what I want to do in my project is have a reliable way to update IVs, EVs, stat boosts, abilities or items on an existing Pokemon instance and get the correct real stats.  I've resorted to creating a new Pokemon on each change

[2020-03-16 00:17] scheibo commented on #379
No, and from looking at our own analytics and PS's we dont really see that traffic. Its an argument I've had with Zarel where we shouldnt be supporting browsers neither of userbases use, but because I plan to integrate the calc directly into the client their min version is our min version, and Zarel seems to like to support ancient browsers because 'he likes the challenge' or something.

Yeah, I w

[2020-03-16 02:23] ajhyndman commented on #379
I'm onboard with immutable pokemon instances.

Maybe what I want then is an `updatePokemon(pokemon: Pokemon): Pokemon` function or a method like clone that takes overrides.  There's not actually any pattern for taking an existing instance and creating a new one.

I wrote this helper, but it seems to me it only sort of works by accident that most of the properties of a pokemon overlap with the shap

[2020-03-16 03:00] Zarel commented on #379
I also don't like getters in general; I think they make code less readable compared to just adding `()` after the variable name so it's clear that it's a function call.

[2020-03-16 03:00] Zarel commented on #379
No, that's not a hack, the constructors intentionally support `new Pokemon(pokemon)` to clone.

[2020-03-16 03:13] ajhyndman commented on #379
Oh, that makes me feel better about relying on it.  Wouldn't it make sense to make it explicit that the constructor accepts a `Partial<Pokemon>` instance then?

Relatedly, the pokemon's properties still end up copied twice in my solution.  Once during my object spread, and then again internally in the constructor.  What if `.clone()` accepted an overrides object?  That was another thing I tried to

[2020-03-16 05:32] Zarel commented on #379
I'm not sure if what the constructor accepts _is_ a `Partial<Pokemon>`. It probably makes more sense that the constructor accepts a `PokemonData`, and `Pokemon implements PokemonData`.

I think some constructors accept an overrides object. Not all of them, though?

[2020-03-16 05:44] scheibo commented on #379
What you call `PokemonData` is called `Species` in this project (the raw data files JSON object). `Pokemon implements PokemonData` is the same crap we're trying to get away with `Pokemon` in the client (https://github.com/smogon/pokemon-showdown-client/pull/1479). If you want the `Species` information on the `Pokemon` instance, get it through the `species` field.

I think most of the constructors

[2020-03-16 05:46] Zarel commented on #379
Heh, this would probably be a lot easier of we did the `Template` -> `Species` rename everywhere.

I did mean `Template implements TemplateData`, though.

[2020-03-16 05:47] Zarel commented on #379
I like that `TemplateData` is more explicit than `Partial<Template>`, though.

[2020-03-16 05:48] Zarel commented on #379
After all, not all fields are optional. Some _are_ required, and `TemplateData` specifies which ones.

[2020-03-16 07:03] ajhyndman commented on #379
After poking at my project some more today, I realised what I really want to get out of this is to be able to show total stats (after all modifiers) to users.  And it turns out that's quite difficult without reimplementing or pulling out internals of the existing calculator code.

Speed calculation is here, and requires field information:
https://github.com/smogon/damage-calc/blob/master/calc/src/

[2020-03-16 07:39] scheibo commented on #379
I have an interested in in computed stats for a project I'm working on as well, and theres already several places where it is done (here, in the sim code and in battle tooltips on the client). Come to think of it, its possibly you just want https://github.com/smogon/pokemon-showdown-client/blob/master/src/battle-tooltips.ts#L827.

I dont really have much bandwidth to figure out a good way of unify

[2020-03-17 07:54] ajhyndman commented on #379
Oh yeah, that looks like what I want to do!  Cool, I'll have a think about it.

I think I can close this issue for now.

[2020-03-17 07:54] #379 closed

[2020-03-23 17:23] #332 closed

[2020-03-26 03:54] scheibo commented on #335
This was mistakenly closed - I thought it was referring to the logic implemented under `import/`, not the UI level changes.

I've packaged up PS's set import logic to support a pluggable data layer abstraction: https://www.npmjs.com/package/@pkmn/sets. This can supplant our less rigorous implementation in `src/js/moveset_import.js`, but unfortunately doesn't solve the `Gastrodon-East` issue. That

[2020-03-26 04:00] scheibo commented on #378
@ajhyndman - https://github.com/pkmn/ps might interest you on this front. `@pkmn/sim` is working but not published, it will be published with `@pkmn/protocol` / `@pkmn/client` / `@pkmn/sim` hopefully by next week.

More relevant to your interests and the question posed in the bug: the set + team import/export/pack/unpack has just been extracted, modified to be data layer agnostic, tested and publi

[2020-03-26 05:28] ajhyndman commented on #378
Very cool!  Thank you for all the heads ups.

I feel like I hit my first milestone with my app too, this week.  It's still missing a few key things, but I've been able to use it successfully in battles for myself!

[2020-03-27 15:23] AustinXII commented on #335
This should be as easy as adding `Gastradon-East` in `checkExeptions#`

[2020-03-27 16:20] #335 closed

[2020-04-08 02:32] #333 closed

[2020-04-08 06:18] #331 closed

[2020-04-08 13:35] wartab opened #384 "Changing current HP for a Pokémon alters it to some other non integer value"
Can't describe more than the title says.
3 becomes 2.95, etc.
Any input (even arrow keys, shift, etc.) changes the value randomly too.

[2020-04-08 13:39] wartab opened #385 "Some blank preset Pokémon do not end up being blank upon selection"
Example:
Snorlax starts with 80 EVs in Defense.
Eiscue starts with 69 EVs in HP (yes, I need to grow up).

[2020-04-08 13:41] wartab opened #386 "Default level is not always level 100 for certain Pokémon."
Examples:
Abomasnow (Blank Set): level 86
Snorlax (Blank Set): level 84

[2020-04-08 18:54] AustinXII commented on #386
I would imagine the levels are falling back on the randoms sets for some reason, will investigate

[2020-04-09 00:12] #385 closed

[2020-04-09 00:13] scheibo commented on #385
f9b8ee2

[2020-04-09 00:14] scheibo commented on #386
f9b8ee2 also fixes this

[2020-04-09 00:14] #386 closed

[2020-04-09 04:42] scheibo commented on #384
Theres still a TODO to actually use a number input for these so your arrow keys work, but Im not going to bother fixing it before rewriting the new UI.

[2020-04-09 04:42] #384 closed

[2020-04-10 16:31] IllustriousMemories opened #387 "Psychic Terrain calculating incorrectly"
The calc presented the following damage output:

![](https://media.discordapp.net/attachments/621082192088399882/698199989607989248/unknown.png)

+2 252 SpA Mewtwo Psystrike vs. 248 HP / 184+ Def Marvel Scale Milotic in Psychic Terrain: 331-391 (84.2 - 99.4%) -- guaranteed 2HKO after burn damage

However, when we tested it in a battle, the damage was consistently lower than 84% (we used a custom t

[2020-04-10 19:46] AFuckingPotato opened #388 "Judgment on Arceus type doesn't change"
The calculator used to change judgment's type on Arceus based off of the held plate, but it no longer does. The type now only changes when you input it manually.

[2020-04-18 19:45] #388 closed

[2020-04-18 19:45] scheibo commented on #388
Thanks for the report, this we be fixed the next time we deploy

[2020-04-18 19:53] scheibo commented on #365
Looks like this was fixed in https://github.com/smogon/damage-calc/commit/5d8b11f538a35cb2937f468a30d5e3f423ab314a

[2020-04-18 19:53] #365 closed

[2020-04-18 20:12] scheibo commented on #310
I'm trying to repro this but I must be missing some context? I'm getting a completely different calc:

Possible damage amounts: (337, 340, 345, 349, 352, 357, 361, 364, 369, 373, 376, 381, 385, 388, 393, 397)

Possible damage amounts: (339, 342, 346, 351, 354, 358, 363, 366, 370, 375, 378, 382, 387, 390, 394, 399)

I'm thinking this is possibly because the move modifier order was overhauled in htt

[2020-04-18 20:12] #310 closed

[2020-04-18 20:26] scheibo commented on #336
<img width="875" alt="Screen Shot 2020-04-18 at 13 25 42" src="https://user-images.githubusercontent.com/117249/79670470-1f55d980-8178-11ea-8bd2-305fcc1ec99e.png">

[2020-04-18 20:29] scheibo commented on #351
Possible damage amounts: (351, 356, 360, 364, 367, 371, 376, 379, 385, 389, 392, 397, 401, 405, 410, 414)

This perhas looks to now be correct? I believe letters fixed this in #369?

[2020-04-18 20:29] #351 closed

[2020-04-18 20:53] scheibo commented on #387
![Screen Shot 2020-04-18 at 13 52 46](https://user-images.githubusercontent.com/117249/79671020-eb7cb300-817b-11ea-9952-2bf4bd81d425.png)

Confirmed VGC calc is correct here

[2020-04-18 21:05] #387 closed

[2020-04-18 21:05] scheibo commented on #387
Thanks for your report! This should be fixed the next time we deploy

[2020-04-19 04:54] scheibo opened #389 "Have `@smogon/calc`'s interfaces match `@pkmn/*` interfaces"
The calc package's `Generations` type is already very close to https://github.com/pkmn/ps/blob/master/data/index.ts (which is not a coincidence, the calc's interface was the inspiration for @pkmns), instead it should unify with it such that a @pkmn's `Generations` can be used drop in. Furthermore, @pkmn/client's `Pokemon`, `Move` and `Field` object should be possible to use without wrapping as arg

[2020-04-21 04:38] scheibo opened #390 "Improve Dynamax/Max-Move support"
https://www.smogon.com/forums/threads/sword-shield-battle-mechanics-research.3655528/

## Original Max HP

This is difficult, because right now `Pokemon#maxHP` looks like

[code]

We need to add an `originalMaxHP` method:

[code]

I don't know everywhere this applies in the damage calc. in `gen78.ts` it seems fairly straightforward (though I could be wrong), but the difficult comes in `desc.ts` wh

[2020-04-21 09:01] omenav2 commented on #348
Some moves in 'moves.ts' are missing the quotes (' ') and are as such unavailable in the showdown selector. This includes moves such as absorb and barrage.

[2020-04-21 16:03] AustinXII commented on #348
Our live version If the calc is not up to date with the github version. Currently we are reworking moves so it looks all kinds of messed up right now, don’t worry about it too much :)

[2020-04-21 19:42] Marty-D commented on #390
Sorry, that line is definitely unclear now. I'll make sure to clarify it next time I update the OP.

The difference is subtle for sure. For example, Super Fang, Pain Split, Endeavor, Innards Out, etc all look at current HP only (i.e. non-Dynamax current HP), while stuff like Brine and Zen Mode check both current and max HP to determine their threshold percentages, which is actually the same whethe

[2020-04-21 19:48] scheibo commented on #348
Our `master` branch is not guaranteed to be safe. There are two ways to get to a 'good' version - using a tagged version from when we released  the `@smogon/calc` package (or better, depending on `@smogon/calc` directly via NPM instead of depending on the source), and eventually, by looking at where the `gh-pages` branch is at (as we plan to use this in the near future for all deploys going forwar

[2020-04-21 20:05] scheibo commented on #390
We have 8 places where we call `maxHP()` in `mechanics/gen78.ts` and.... lots and lots in `desc.ts`. The hard part of implementing original max HP semantics is simply going through each of these places and changing calls to `originalMaxHP()` where appropriate, but from the sounds of it even research doesn't know where all of those places are?

I take back what I said above, I think given how we ha

[2020-04-21 20:24] Marty-D commented on #390
Not off the top of my head! 😉
Given an effect and the above understanding of HP stuff, it can be figured out:

Does the effect check _**only one of**_ current HP or max HP? --> use original HP
Does the effect check _**both**_ current HP and max HP? --> use original or Dynamax, just be consistent

[2020-04-21 20:30] DaWoblefet commented on #310
Verifying OZY updates fixed this.

252 SpA Tapu Koko Gigavolt Havoc (175 BP) vs. 212 HP / 20 SpD Kangaskhan-Mega in Electric Terrain: 177-208 (85.5 - 100.4%) -- 6.3% chance to OHKO
Possible damage amounts: (177, 178, 180, 183, 184, 187, 189, 190, 193, 195, 198, 199, 201, 204, 205, 208)

+1 252 SpA Tapu Koko Gigavolt Havoc (175 BP) vs. 212 HP / 20 SpD Kangaskhan-Mega: 177-208 (85.5 - 100.4%) -- 6.3

[2020-04-21 20:41] DaWoblefet commented on #390
I personally think of it like this (which tends to be consistent for everything but G-Max Finale)

if a Pokemon has a certain % of HP (i.e. must be at a % of HP for condition to trigger), use Dynamaxed HP
otherwise, use max HP

Also missing from this list in the OP (unless this is a to-do list): -ate moves will change typing while Dynamaxing, but will not get any increase in base power.

[2020-04-21 22:00] scheibo commented on #390
Did the low hanging fruit here. Better half implemented than not implemented at all. Thanks for all the research!

[2020-04-22 19:36] scheibo opened #391 "Support Sitrus/Figy Berry (and Gluttony) in `desc.ts`"

[2020-04-22 21:35] #330 closed

[2020-04-25 18:12] scheibo opened #392 "Improve handling of self damage"
Right now the calc handles recoil, crash damage, Struggle self damage and mindblown self damage in `Result#getRecoil`. There are further sources of self damage:

- `"33% (can't KO)"`: Clangorous Soulblaze

Self-destruct moves obviously inflict 100%self damage:

- `"KO"`: Self Destruct, Explosion
- `"KO (unless failed)"`: Healing Wish, Lunar Dance, Final Gambit, Memento

Certain moves which don't d

[2020-04-26 00:36] penpexgit commented on #348
I feel like I had seen this asked somewhere but I surprisingly cannot find it (so sorry in advance if it is, and it is in that eventuality that I am posting here instead of opening a new issue):
Would it be possible, like it is done for Z-Moves, to have the base power of the Max Move displayed in the result text? At the moment it is not, so there is a loss of information on that matter.

Note that

[2020-04-26 02:47] scheibo commented on #348
Yes, this should be displayed. Feel free to open up a PR

This is still TBD, but if we display it for ZMove we should display it for Max Move

[2020-05-09 17:48] yghdj commented on #348
What exactly is the problem here?

[2020-05-10 05:54] scheibo commented on #348
There's at least something fishy going on with KO chance: https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/post-8460619

As for the quoted calcs in questions: https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/post-7798375 is the original report, I haven't tried to grok exactly what is fishy with it yet which is why its a 'Pot

[2020-05-10 10:18] yghdj commented on #348
Ok I was just wondering if I understood the problem correctly. I think the calcs are actually correct, and that is because of the rounding down. If Ttar has 204 HP EVs, its total HP are 392, so the Spikes + SR damage is 2*floor(0.125*392) = 98 which brings its HP down to 294, so the max roll OHKOes. If it has 200 HP, though, its total HP are 391, so the damage upon entry is 2*floor(0.125*391) = 96

[2020-05-10 15:55] WheatiesTM opened #394 "Minor Issue: Duplicate Entries"
I've discovered that the following categories have duplicate entries in the data files:

Abilities: Storm Drain
Items: Enigma Berry, Macho Brace, Power Herb

[2020-05-10 19:27] #394 closed

[2020-05-10 19:27] scheibo commented on #394
Thanks! In the future please feel free to just open a PR if you notice these kinds of things!

[2020-05-11 21:06] scheibo commented on #389
This was done

[2020-05-11 21:06] #389 closed

[2020-05-19 17:09] neilfewellsteiner commented on #303
I've noticed that damage from hazards and leech seed are not included in the damage rolls. How do you obtain this information using the @smogon/calc API? I wrote a test case to show what I mean:

[code]

[2020-05-19 17:14] scheibo commented on #303
Hi @neilfewellsteiner - love that you wrote a test, super helpful!

Stealth Rock damage is not (and should not) be included in the *damage roll*, it occurs when the mon switches in and is separate from the damage caused by the move, Currently the calculator accounts for the SR damage from switching in while calculating OHKO chance, which is not programmatically available in a machine readable way

[2020-05-19 17:36] neilfewellsteiner commented on #303
Hello @scheibo , thank you for the quick reply. I did not realize that each result object has a desc() method, which provides information about hazards, leech seed, and other field effects.

[2020-06-21 02:19] ajhyndman opened #398 "Add new Isle of Armor species and move data"
I'm happy to help with this.

From skimming the README's it looks like this data should be pulled/copied from an upstream source somehow?  I didn't see steps to do so spelled out anywhere though.

Edit:

I just saw #397!  Looks it's already underway.  I look forward to the next npm release.  :)

[2020-06-21 02:26] AustinXII commented on #398
@scheibo is going to be on a break for a few weeks and is the one who deals with that... sadly the npm release may come a bit after the calc lands

[2020-06-21 02:44] scheibo commented on #398
Apparently I didn't turn of GH notifications yet. @ me when it's ready to be released and I can do it, though Marty should be able to as well

[2020-06-21 03:43] ajhyndman commented on #398
@scheibo it looks like #397 landed.  🙂

[2020-06-21 03:50] scheibo commented on #398
Yes, but the build is broken. I'll check back tomorrow

[2020-06-21 15:12] AustinXII commented on #398
@scheibo the build is broken because of pkmn/data

[2020-06-21 15:50] scheibo commented on #398
No, that is in fact not why the build is broken.

[2020-06-21 16:15] AustinXII commented on #398
@scheibo ? the error is unexpected data lengths ? Unless I'm missing something here https://github.com/smogon/damage-calc/runs/791861848

[2020-06-21 16:26] scheibo commented on #398
I'm really *really* peeved off right now that I'm spending my morning fixing your typos because you (and Kris?) assume the test is wrong and not your data entry. The only error so far I see with `@pkmn/dex` (which is what the calc's tests depend on, not `@pkmn/data`) is that it lists Kubfu's speed as 73 and not 72 due to when the package was cut (which can trividally worked around by simply either

[2020-06-21 16:41] AustinXII commented on #398
@scheibo if you are going to be gone for a while I'm not really going to care much about a test failing because of dependency I can not fix that has has incorrect info. I don't really want to push incorrect info to the calc in sake of having a test pass that literally only affects me (and maybe the one off rare contributor) while you are gone.

[2020-06-21 16:48] scheibo commented on #398
Hmm... lets see. From this "dependency I can not fix (why? are you unable to make a PR against that repository???) that has has incorrect infoIs Kubfu's speed being off by 1 ("more or less important than:

- Venusaur Gmax being given Levitate instead of Overgrow, and Poison Fairy instead of Grass Poison
- Kubfu not being marked as NFE
- Intelegon-Gmax being given 'Torent'  instead of Torrent
- Mag

[2020-06-21 17:47] scheibo commented on #398
I have released `@smogon/calc` v0.4.0.

@AustinXII - please read over the commits I pushed to understand:

a) Why `data.test.ts` is valuable
b) How to work around the `@pkmn/dex` package potentially reflecting out of data information

`data.test.ts` can and should certainly be improved to be easier to understand (the most glaring part I noticed is that the expected and received information is in r

[2020-06-21 17:47] #398 closed

[2020-06-21 17:55] KrisXV commented on #398
Don’t wrap me into this. I was just reviewing the data, the build wasn’t my focus.

[2020-06-21 20:36] ajhyndman commented on #398
@scheibo Thank you for cleaning this up and releasing.

In the future, I don't mind being asked for review or contributions.  Having this package up to date and accurate lets me update https://eevaluator.ajhyndman.com, which I want to keep relevant for my users!

[2020-07-30 22:53] scheibo opened #406 "Implement Gigantamax properly"
Gigantamax formes and moves should not be included in the data files (they are not in the game data files, they are not formes/moves by that definition). PS has begun doing some work here, the most obvious being marking the 'formes'/'moves' as `Nonstandard` and adding `Gigantamax: Yes` to the importable. The following is all required:

- [ ] support `Gigantamax: Yes` in imports (moveset_import.js)

[2020-08-09 10:23] Amaterasu5 commented on #390
Hey! I'm not sure if this belongs here, but based on the thread title, it appears that it would. The calc currently doesn't handle max weather ball and terrain pulse correctly, where they should change into the max move corresponding to the weather and gain the damage+weather boost as well. I've attached a photo:
![Screen Shot 2020-08-07 at 9 53 02 PM](https://user-images.githubusercontent.com/454

[2020-09-23 20:18] jaybee216 opened #409 "NPM install / bundling errors, tests broken"
Running `npm install` in the `calc` folder fails with the following output:

[code]

Verbose logs dumped in AppData:

[code]

[2020-09-23 21:57] #409 closed

[2021-01-13 18:45] brunopugliese opened #424 "Problem when Exporting / Importing Pokémon Sets"
If you Export a pokemon and then Import it using the same generated set, it does not recognize the "Ability" line.

Steps to reproduce:
1. Selected Abomasnow (RU Showdown Usage) and clicked export
2. Changed his ability to Soundproof (any chosen ability would have the same results)
3. Clicked Export
4. Generated code looks like this:
[code]
5. Clicked Import
6. Selected Abomasnow (Custom Set) from

[2021-01-13 18:48] brunopugliese opened #425 "Export button doesn't generate code for the Pokémon level and IVs"
When clicking to export a pokémon set, it does not generate the line "Level:" and the line "IVs: "
The Import function is capable of recognizing both lines so this seems like a simple overlook in the export function, easily fixed by adding a few lines of code to the **ExportPokemon** function in **moveset_import.js**

[2021-01-16 20:08] brunopugliese opened #427 "Search doesn't work when using "Only show imported sets" mode"
When trying to search for a Pokémon with the "Only show imported sets" option checked, it does not work at all.

[2021-02-09 15:50] tjjerome commented on #348
Is there a preferred way to run the damage calculation from a python script? I've already got an application going in python and would prefer not to start over in js, but I haven't found any python implementations of this.

[2021-02-20 04:04] lighthouse64 opened #432 "Confusion Status Hit Damage Calculation"
I'm currently in the middle of implementing the damage calculation for the confusion status hit, but I realized that by doing this, I won't be able to cover the special cases outlined [here](https://bulbapedia.bulbagarden.net/wiki/Confusion_(status_condition)) that refer to a base move.  Should I continue going down this path, or should I give up and implement in a similar way to how Z-moves work?

[2021-03-23 16:16] MagiaSN opened #434 "Unit tests fail"
Hi friends, I am going to write some code but find the unit tests keep failing. This is my current situation:

First, I pulled the latest commit, run `npm install` and then `npm test`, which reported 2 failures. One failure is because of data inconsistent with `@pkmn/dex` (some Max Moves do not have `breaksProtect` property in pkmn). The other is because the `bundle` script use wrong index in slic

[2021-03-23 16:27] AustinXII commented on #432
Probably easier to go with the latter

[2021-03-23 16:27] #425 closed

[2021-03-23 16:57] KrisXV commented on #434
Yes I was waiting until the end of March since I had already procrastinated so long but I’ll do one today

[2021-03-23 17:31] AustinXII commented on #434
@MagiaSN also long time no see, glad to see you are still working on some calc related adventures. :)

[2021-03-24 02:21] MagiaSN commented on #434
Waiting for your news :)

[2021-03-28 02:08] jbmagier opened #436 "Dauntless Shield not calculated properly"
From what I can tell, the ability Dauntless Shield doesn't actually apply the +1 Defense boost to Zamazenta even though it displays one in the calculation text. I plan on looking into the bug, but I wanted to make it known.

Using a Zamazenta and putting its Defense to -1 is no different than keeping it neutral on the calc as well, but I assume the bugs are related.

[2021-03-29 02:28] jbmagier opened #437 "Dynamic Move Max Move Type"
The moves with dynamic types - Weather Ball, Terrain Pulse, and Nature Power - all fail to become their respective Max Move counterparts and instead become Max Strike. Weather Ball's presence in VGC is more prominent than ever, so fixing this is pretty important.

This will likely require a Field being passed through getMoveDetails to move.ts

[2021-03-29 02:34] jbmagier opened #438 "Nature Power Problems"
Nature Power currently is always a physical move. In Gen 7 and 8, it always becomes a special move.

As it is technically a status move, there will need to be a special clause written for Prankster users where:
a. Grounded opponents cannot be hit if it is used in Psychic Terrain
b. Dark type opponents cannot be hit at all

[2021-04-25 03:40] DaWoblefet opened #443 "Current mechanics inaccuracies [WIP]"
I am doing a static analysis of the damage formula in Gen 7 / 8. Currently work-in-progress. I will continue editing as I find more. I will assist in fixing these!

Reference for how modifiers are actually chained: https://www.smogon.com/forums/threads/sword-shield-battle-mechanics-research.3655528/post-8685465

### Weight
- Light Metal and Float Stone should quarter speed.
- Weight multiplication

[2021-05-06 02:20] #424 closed

[2021-05-06 02:20] brunopugliese commented on #424
Fix already merged in January

[2021-05-06 02:21] #427 closed

[2021-05-29 14:59] InvalidOS opened #448 "Rounding causes "100% chance to 3HKO" to appear, which could be potentially misleading"
I was playing around with the idea of a physical Xerneas (knowing that it's not great due to Zacian existing), and I decided to calc Xerneas against a physically defensive Necrozma-Dusk-Mane.

This was the result:
![damage calc bug i think](https://user-images.githubusercontent.com/35383068/120074094-4532fa80-c069-11eb-878a-89923528c9d4.png)

Seeing "100% chance to 3HKO" when normally the calculat

[2021-06-11 10:45] BenjaminShinar commented on #348
I think that the calculator for gen I doesn't always crit for Karate-Chop.
the damage calculation seems more similar to 'cut' (also base 50 power) than to slash(which seems to work properly), this is visible in the code itself.
I will try to make a pull request with a fix later today, once I figure out how to.

[2021-06-13 07:19] c0d3rman opened #450 "Wonder Room support"
Hi folks, I saw this was mentioned a few years back on #348 but I thought I'd open an issue for it. It would really be great to have support for Wonder Room as a field effect. I've been trying to do some exhaustive searches on damage values for a few setups and not having the ability to use Wonder Room makes it really difficult. On the web interface it's only slightly annoying to flip all the base

[2021-10-04 04:52] Kanbe-Kotori opened #461 "Utility Umbrella doesn't work"
For example, when **Blissey** with a **Utility Umbrella** attacked by **Origin Pulse** of **Kyogre**, the damage will still be increased by the rain, and **Blissey** will be 2HKO.
252+ SpA Choice Specs Kyogre Origin Pulse vs. 4 HP / 252+ SpD Blissey in Rain: 288-339 (44.1 - 51.9%) -- 14.1% chance to 2HKO
However, this shouldn't happen.

[2021-10-04 09:53] wartab opened #462 "Gen 3 badge boosts"
Would it be okay if I added a flag for badge boosts that exist in Gen 3? I use this damage calc as a base for calculating damage for speedrun routing and the absence of this feature makes it basically impossible to use for that purpose.

I could also attempt to implement it for Gen 2. For Gen 1, it's not particularly useful, cause badge boosts are completely broken there (surprise, surprise).

I r

[2021-10-04 09:59] wartab commented on #462
In case you are unaware, Gen 1, Gen 2, and Gen 3 has a mechanic, where after obtaining certain badges, your stats are silently raised by 10% in Gen 3 and 12.5% in Gen 1 and 2.

[2021-10-04 10:21] wartab opened #463 "Dynamax Levels"
Currently, the damage calc implements Dynamax as an on/off switch. This is sadly not fully accurate, as different Dynamax Levels on a Pokémon will result in a different multiplier for Max HP.
This forces us to manually change the HP value when routing speedruns for Sword and Shield.

Would you be fine with adding an option to customise the dynamax level, with the default being 10?

[2021-10-05 02:54] grumpyotter opened #465 "Example of using @pkmn/data with @smogon/calc doesn't compile"
Hi, I'm new to Javascript and new to Github, so it's possible I'm missing something, but I wasn't able to get the example of using @pkmn/data and @smogon/calc together in README.md to compile (2nd snippet under Usage section) without making some updates.  The snippet currently reads...
[code]
I had to change it to the following to get it to compile.  The main issue I hit was that gen was missing f

[2021-11-15 14:33] Kanbe-Kotori commented on #461
STILL not fixed..

[2021-12-16 03:09] KrisXV commented on #462
Hey @wartab, really sorry for the late reply! I'd be fine with you adding a toggleable flag for this.

[2022-01-25 23:42] YoshivsJoshi opened #468 "No option for pokemon staying level 50"
Hello, this is the best damage calculator for everything but could you please add a feature to make all Pokémon permanently level 50 so when I'm in battle or just for ease of access if when I choose another set it auto sets the Pokémon to level 50, could you also add generic pokemon VGC 2022 sets, thank you very much!

[2022-04-04 00:36] freemagma opened #471 "Cant run locally (unable to resolve dependency tree)"
When I clone the repo and try to run it locally, I immediately get a dependency failure. Am I doing something wrong here, or is something wrong?

[code]
[code]

[2022-04-13 03:00] Zafnok opened #472 "Duplicate Items in Gen 8"
https://github.com/smogon/damage-calc/blob/bdf9e8c39fec7670ed0ce64e1fb58d1a4dc83b73/calc/src/data/items.ts#L470-L471

This is adding in Enigma Berry twice...

Think it can be fixed by just removing this line https://github.com/smogon/damage-calc/blob/bdf9e8c39fec7670ed0ce64e1fb58d1a4dc83b73/calc/src/data/items.ts#L87 since I don't think Enigma Berry even exists in gen 2?

Found when I was writing

[2022-05-22 14:14] Dangelman opened #474 "Multi-hit moves are calculated wrongly when damage-reducing berries are involved"
[This bug](https://www.smogon.com/forums/threads/pok%C3%A9mon-showdown-damage-calculator.3593546/post-8787060) still seems to not have been fixed.

When calculating super-effective damage reduced by Berry (eg. Rindo Berry), the calculator considers the entire output of multi-hit moves halved, while in reality only the first shot is.
So if you have Rindo Berry and you're hit by a skill-link Bullet

[2022-05-22 22:43] mgreshake opened #475 "One vs One & One vs All lead to different results"
The One vs One and One vs All view produce different results for damage calculation. For example in ADV OU, Swampert with Ice Beam and 28 EV invest in SpA allows a guaranteed OHKO against Flygon according to the One vs One view. In contrast, the One vs All view states that this constellation only gives a 93.8 % chance to OHKO Flygon. Which calculation is correct?

[2022-08-25 21:42] umbralOptimatum opened #478 "Incorrect Zoroark level in Random Battles mode"
When selecting Zoroark in Random Battles, the calculator incorrectly loads it as level 0. Irritatingly it then defaults to level 100 stats for unrealistically good results.

[2022-08-25 23:06] Karthik99999 commented on #478
Zoroark's level is going to be different every game since it copies the level of the mon in the 6th slot. No matter what level the calc sets it too you're probably going to have to manually change it.

[2022-08-30 03:55] alaxandir opened #479 "When creating a custom set (Fangame use) I cannot specify Gender."
I am creating a custom set which contains the boss trainers in my fan-game, I use my own data layer which contains custom pokemon however I wish to be able to set gender for certain pokemon sets due to abilities like Rivalry, mostly to facilitate the player not accidentally leaving this off when calculating.

I have tried several things but I can't seem to figure out what to put in the .js to make

[2022-09-23 02:25] bojanderson commented on #478
@umbralOptimatum what would you recommend it start as? Or like should there be a disclaimer?

[2022-10-08 06:44] Lassoloc opened #480 "GSC calc sometimes fails to calculate implied DVs"
When importing a set into the GSC calc that doesn't have full DVs, the HP DV (which is dependent on all the other DVs) sometimes comes out as NaN, which is then treated as 0. In the attached image, note the inconsistency between "guaranteed OHKO" (which is true with 0 DVs). and "99.3 - 117.1%" (which is true with the correct DV value of 15), as well as the HP stat appearing as 303 when it should b

[2022-10-28 02:03] ajhyndman opened #481 "Generation 9"
Hi, I just wanted to raise my hand to offer to help with updates to this project for the upcoming Generation 9 release!

I'm not following any leaks, so I don't know how much change there will actually be.  Once we know how the mechanics work though, I think I might be able to help with the actual implementation.

Of course, if you think you have things under control, don't let me butt in.

[2022-10-28 02:04] KrisXV commented on #481
We typically handle generation updates here after they're fully implemented (bar menial things) in PS, so after that's completed by the team working on that, I'll bump this to let you know.

[2022-11-03 01:02] ajhyndman commented on #471
@freemagma I think you're hitting an npm version difference.

On recent versions of npm, try installing with the `--legacy-peer-deps` flag set.

[code]

[2022-11-04 23:52] ajhyndman commented on #481
I'm just curious, do you expect to add Legends: Arceus species data to the Gen 8 patch, Gen 9 patch, or only include pokemon that make it to scarlet/violet?

[2022-11-06 23:01] #461 closed

[2022-11-22 03:23] #481 closed

[2022-11-27 15:42] AshishMahto opened #494 "`types` for Annihilape and Iron Hands are 'Fight' instead of 'Fighting'"
These are 'Fight' instead of the usual 'Fighting' type.

https://github.com/smogon/damage-calc/blob/ae2d559d876fa6b77f4d27467d4433396a71dd3e/calc/src/data/species.ts#L8744-L8747

https://github.com/smogon/damage-calc/blob/ae2d559d876fa6b77f4d27467d4433396a71dd3e/calc/src/data/species.ts#L9009-L9010

<img width="300" alt="sc of bug on prod" src="https://user-images.githubusercontent.com/10600671/20

[2022-11-28 01:38] #494 closed